{% extends 'base_template.html' %}
{% load staticfiles %}

{% block body_class %}xsd-preauth{% endblock %}

{% block content %}
    <div class="xsd-preauth-bg"></div>
    <h1 class="xsd-preauth-logo">
        <a href="{% url 'xsd_frontend:login' %}">
            <img src="{% static 'images/logo.png' %}" alt="{{ l10n_club.name }}" />
        </a>
    </h1>

    <div class="xsd-preauth-login">

        <div class="xsd-preauth-login__alternate">
            <div class="xsd-preauth-login__alternate__email">
                <a href="#">Login with Email</a>
            </div>
            <div class="xsd-preauth-login__alternate__register">
                <a href="{% url 'xsd_frontend:register' %}">New member?</a>
            </div>
        </div>

    </div>

{% block preauth_content %}

{% endblock %}
{% endblock %}
