{% load widget_tweaks %}
<form action="." method="POST">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    {% if form.errors %}
        <p class="xsd-preauth-email-login__errors">Email or password incorrect</p>
    {% endif %}

    <label>
        {% render_field form.login class+="form-control" type="text" placeholder="Email Address" %}
    </label>
    <label>
        {% render_field form.password class+="form-control" %}
    </label>

    <div class="xsd-preauth-form__controls">
        <div>
            <a class="btn btn-secondary-outline"
               href="{% url 'account_reset_password' %}">Forgot password</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>

</form>
