html {
    overflow-y: scroll;
}


.alignleft {float: left}
.alignright {float: right}

ul.membership-status {
    margin-left:4px
}
ul.membership-status strong {
    display:block;
    font-size:1em;
}
ul.membership-status li {
    list-style-type:none;
    padding-left:40px;
    padding-bottom:5px
}
ul.membership-status span.note {
    font-size:0.9em;
}
li.fail span.note {
    color:#B94A48;
}
li.pass {
    background:url('/media/images/tick.png') no-repeat top left;
}
li.fail {
    background:url('/media/images/error.png') no-repeat top left;
}

ul.lessons {
margin-left:0;
}
ul.lessons li {
padding-left:20px;
list-style-type:none;
}
ul.planned li {
background:url('/media/images/clock16.png') no-repeat 0 50%;
}
ul.completed li {
background:url('/media/images/tick16.png') no-repeat 0 50%;
opacity:0.5;
}
ul.uncompleted li {
background:url('/media/images/arrow_r.png') no-repeat 0 50%;
}

div.lesson-code {
background:#8095C3;
border: 1px solid #2253BB;
border-radius:2px;
padding:2px;
width:30px;
font-weight:bold;
color:#fafafa;
}

.dl-break {
    margin-top: 1em;
    padding-top: 0.8em;
    border-top: 1px solid #ccc;
}

.col2 {
columns:2;
-webkit-columns:2; /* Safari and Chrome */
-moz-columns:2; /* Firefox */
} 

.col3 {
columns:2;
-webkit-columns:2; /* Safari and Chrome */
-moz-columns:2; /* Firefox */
} 

#map-canvas { height: 350px }

.sdc-info {
    font-size: 0.8em;
    margin-top: 0.2em;
}

.sdc-register-interest-true p {
    font-weight: bold;
}

.error {
    color:red;
    font-weight: bold;
}

.nav-down {
    height: 400px;
}