ul.membership-status {
    margin-left:4px
}
ul.membership-status strong {
    display:block;
    font-size:1em;
}
ul.membership-status li {
    list-style-type:none;
    padding-left:40px;
    padding-bottom:5px
}
ul.membership-status span.note {
    font-size:0.9em;
}
li.fail span.note {
    color:#B94A48;
}
li.pass {
    background:url('/media/images/tick.png') no-repeat top left;
}
li.fail {
    background:url('/media/images/error.png') no-repeat top left;
}
