.xsd-pl-matrix
  width: 100%
  max-width: 100%
  margin-bottom: 1rem

  th, tr
    padding: 0.25rem

  .completed
    background: $brand-success
  .partially_completed
    background: $brand-warning
  .nothing
    background: #eee

  .mode--XP
    td
      font-size: 0.7rem
