{% extends 'base_template.html' %}
{% block content %}

<div class="span5">
<div class="training_for qual-banner OD"><i class="indicator fa fa-chevron-circle-right"></i>Ocean Diver</div>
<p class="training_for qual-banner SD">Sports Diver</p>
<p class="training_for qual-banner DL">Dive Leader</p>
<p class="training_for qual-banner AD">Advanced Diver</p>
<p class="training_for qual-banner FC">First Class Diver</p>
</div>

<div class="span5">
<div class="titlebox">
		
		<h2>Bob Armstrong</h2>
		<div class="btn-group btn-mini">
			
			
			<a href="?action=remove-new-flag" class="btn btn-small" type="button"><i class="fa fa-flag"></i> Remove New Flag</a>
			
			<a href="/members/member/35/edit/" class="btn btn-small" type="button"><i class="fa fa-pencil"></i> Edit</a>
			<a href="/members/member/35/delete/" class="btn btn-small" type="button"><i class="fa fa-trash"></i> Delete</a>
			
		</div>
		</div>
</div>
<div class="span5">
<div class="titlebox training">
		
		<h2>Bob Armstrong</h2>
		<div class="btn-group btn-mini">
			<a href="/members/member/35/" class="btn btn-small" type="button"><i class="fa fa-search"></i> View Member Profile</a>
		</div>
		</div>
</div>
<div class="span5">
<div class="lesson-detail">
        <div class="lesson-code OD">OT2</div>
        <h3>Diving Equipment and Diving Signals</h3>
        <p>An introduction to the diving environment and the specialist equipment divers need. The lesson concludes with signals.</p>
        <p class="mode">This is a theory lesson.</p>
    </div>
    <div class="lesson-detail">
        <div class="lesson-code SD">ST2</div>
        <h3>Actual Lesson Title</h3>
</div>
<div class="lesson-detail">
        <div class="lesson-code DL">DT1</div>
        <h3>Actual Lesson Title</h3>
</div>
<div class="lesson-detail">
        <div class="lesson-code AD">AT1</div>
        <h3>Actual Lesson Title</h3>
</div>
<div class="lesson-detail">
        <div class="lesson-code FC">FT1</div>
        <h3>Actual Lesson Title</h3>
</div>
</div>
{% endblock %}
