{% extends "base_template.html" %}
{% load bootstrap_toolkit %}

{% block content %}
<div class"row">
<div class="span6">
   <h1>Hello {{request.user.first_name}}</h1>
   <p>This is the club's database, through it we manage all our membership records, training, trips and hold information about dive sites known to the club.</p>
   <p>If you're down for doing training with the club you can see what lessons are coming up, and if you've had some you may receive feedback on your progress.</p>
</div>
<div class="span5">
    <h2>Membership</h2>
    {% if profile.no_expiry_data %}
    <div class="alert alert-info">
    <h4>Welcome!</h4>
    <p>It looks like you're new to the club. Before you can dive with us you need to be a member of NUSAC, a member of BSAC and have a complete medical form. You can get help with these things from [VP's Name] the vice-president.</p>
    </div>
    {% else %}
        {% if profile.membership_problem %}
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            Some parts of your membership have expired. You'll need to correct this before you're allowed to dive with the club. Please contact [VP's Name] for more information.
        </div>
        {% endif %}
        <ul class="membership-status">
        <li class="{% if profile.club_expired %}fail{% else %}pass{% endif %}"><strong>NUSAC Membership</strong>
        <span class="note">{% if profile.club_expired %}Expired{% else %}Expires{% endif %} on {{profile.club_expiry}}</span></li>
        
        <li class="{% if profile.bsac_expired %}fail{% else %}pass{% endif %}"><strong>BSAC Membership</strong>
        <span class="note">{% if profile.bsac_expired %}Expired{% else %}Expires{% endif %} on {{profile.bsac_expiry}}</span></li>
        
        <li class="{% if profile.medical_form_expired %}fail{% else %}pass{% endif %}"><strong>Medical Form</strong>
        <span class="note">{% if profile.medical_form_expired %}Expired{% else %}Expires{% endif %} on {{profile.medical_form_expiry}}</span></li>
        </ul>
    {% endif %}
</div>
{% endblock %}

{% block closing_js %}
{% if newbie %}

 <div id="new_user_modal" class="modal hide {% if not repost %}fade{% endif %}" tabindex="-1" role="dialog" aria-labelledby="new_user_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <form action="." method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="new_user_modalLabel">Welcome to the Club Database</h3>
      </div>
      <div class="modal-body">
        <p>Hi {{ user.first_name }}, before we continue your club profile needs finishing off.</p>
        
        {% csrf_token %}
        <div class="row-fluid">
        <div class="span6">
            {{ form.address|as_bootstrap }}
            {{ form.postcode|as_bootstrap }}
            {{ form.dob|as_bootstrap }}
        </div>
        <div class="span6">
            {{ form.home_phone|as_bootstrap }}
            {{ form.mobile_phone|as_bootstrap }}
            {{ form.veggie|as_bootstrap }}
            {{ form.alergies|as_bootstrap }}
            
        </div>
        </div>
        <div class="row-fluid">
        <div class="span6">
            {{ form.next_of_kin_name|as_bootstrap }}
            {{ form.next_of_kin_relation|as_bootstrap }}
            {{ form.next_of_kin_phone|as_bootstrap }}
        </div>
        <div class="span6">
            <h5>How This Data Is Used</h5>
            <p>For an sport such as diving the practical activies involve some level of risk, as such <strong>next of kin</strong> details are kept in case of emergency. This data is only accessed when required. It will be taken in paper form on trips.</p>
            <p>Other details, such as alergies, are useful to have to aid in trip organisation.</p>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Continue" />
      </div>
      </form>
    </div>

<script type="text/javascript">
    $(window).load(function(){
        $('#new_user_modal').modal('show');
    });
</script>
{% endif %}
{% endblock %}