 <div id="update_account_modal" class="modal hide {% if not repost %}fade{% endif %}" tabindex="-1" role="dialog" aria-labelledby="new_user_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <form action="." method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="new_user_modalLabel">Update Account Details</h3>
    </div>
    <div class="modal-body">
        <p>You should keep your email address up to date, it is where any notifications from the club will be sent.</p>

        {% csrf_token %}
        
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Save Changes" />
    </div>
</form>
</div>