{% load bootstrap_toolkit %}

<div id="update_request_modal" class="modal hide {% if not repost %}fade{% endif %}" tabindex="-1" role="dialog" aria-labelledby="new_user_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <form id="ur" action="/update-request/" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="new_user_modalLabel">Make an Update Request</h3>
    </div>
    <div class="modal-body">
        <p>When there are things on the database that haven't been updated for you, such as what lessons you've taken or the fact you've renewed your membership you should make an update request.</p>
        
        <p>The relevant database officer will receive notification of the request and take action.</p>

        {% csrf_token %}
        <div class="row-fluid">
            <div class="span6">
                <p>Request being made by <strong>{{user.get_full_name}}</strong></p>
                {{update_request_form.area|as_bootstrap}}
                <div class="ur-lesson hide">{{update_request_form.lesson|as_bootstrap}}</div>
                <div class="ur-site hide">{{update_request_form.site|as_bootstrap}}</div>
            </div>
            <div class="span6 alert alert-info ur-info-inital">
                <p><strong>Heads up</strong> The area you select will determine which database officer receives the request.</p>
            </div>
            <div class="span6 alert alert-info hide ur-lesson">
                <p><strong>Training</strong> If you're request applies to a certain lesson, select it here. If not you can leave that field blank.</p>
            </div>
            <div class="span6 alert alert-info hide ur-site">
                <p><strong>Sites</strong> If the site already exists select it here.</p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                {{update_request_form.request_body|as_bootstrap}}
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary ur-send" value="Send Request" />
        <p class="ur-sucess alignright hide">Your request has been sent</p>
        
    </div>
</form>
</div>

<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
    $( "#id_area").change(function () {
        switch ($( "#id_area").val()) {
            case "tra":
            $(".ur-lesson").show()
            $(".ur-site").hide()
            $(".ur-info-inital").hide()
            break;
            case "sit":
            $(".ur-lesson").hide()
            $(".ur-site").show()
            $(".ur-info-inital").hide()
            break;
            default:
            $(".ur-lesson").hide()
            $(".ur-site").hide()
            $(".ur-info-inital").show()
        }
    });
    function hideModal() {
        $("#update_request_modal").modal('hide')
    }
    $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#ur').ajaxForm(function() { 
                $(".ur-send").hide()
                $(".ur-sucess").show()
                window.setTimeout(hideModal,1000)
            }); 
        });
</script>