{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3
        }],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/proposal-object-rest-spread",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/proposal-class-properties"
    ]
}
