*.log
*.pyc
*.pyd
*.pyo
.cache
.coverage
.coverage.*
.dockerignore
.git
.idea
.Python
.tox
__pycache__
coverage.xml
db.sqlite3
dist
Dockerfile
env
media
node_modules
pip-log.txt
tmp
Dockerfile
.gitlab-ci.yml
