{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": 2018,
        "sourceType": "module"
        // Allows for the use of imports
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "none"
                }
            }
        ],
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        // Errors on x! assertions that x isn't null
        "@typescript-eslint/no-non-null-assertion": "off",
        "vue/html-self-closing": "off",
        "vue/html-closing-bracket-newline": "off",
        "vue/attribute-hyphenation": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-indent": ["error", 4]
    }
}
