*.log
*.pot
*.pyc
local_settings.py
db.*
*.pyc
media/images/facebook_profiles/*
xsd_members/fixtures/*
xsd_training/fixtures/*
xSACdb/fixtures/*
components/*
local_files/*
static/*
cssb/*
.sass-cache
src/.sass-cache
Gemfile.lock
vendor/*
shell.py
env/
lib/
tmp/
dist/
.coverage
