########################
# xSACdb Configuration #
########################

# Make a copy of this file as `local_settings.py`
# The server will not start without doing this

# Club config
CLUB = {
    # Name of your club
	'name': 'UoNSSAC',

    # Are you a student club? This adds fields like student ID to the member records
    'student': True, 
}


# Make this FALSE for deployment
DEBUG = True

# Send error reports to
ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

# Your database config
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'db.sqlite3',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/London'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-gb'

# Make this unique, and don't share it with anybody.
# Generate one here: http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''

# django_facebook settings, grab these from your facebook app config
FACEBOOK_APP_ID=0
FACEBOOK_APP_SECRET=""
