[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "==1.7.9"
werkzeug = "==0.12.2"
2to3 = "*"
honcho = "*"

[packages]
commonmark = "~=0.7.3"
coverage = "~=4.4.1"
diff-match-patch = "==20121119"
dj-database-url = "~=0.4.2"
django = "~=1.11.2"
django-activity-stream = "~=0.6.3"
django-allauth = "~=0.32.0"
django-bootstrap3 = "~=8.2.3"
django-compat = "~=1.0.14"
django-debug-toolbar = "~=1.8"
django-geoposition-2 = "*"
django-health-check = "~=2.3.0"
django-hijack = "~=2.1.4"
django-jsonfield = "~=1.0.1"
django-jsonfield-compat = "*"
django-redis-cache = "~=2.1.0"
django-reversion = "~=2.0.8"
django-reversion-compare = "~=0.8.6"
django-rq = "~=2.1.0"
django-widget-tweaks = "~=1.4.1"
docutils = "~=0.13.1"
faker = "~=0.7.17"
gunicorn = "~=19.7.1"
pillow = "~=4.1.1"
psycopg2 = "~=2.7.1"
pyyaml = "~=3.12"
raven = "~=6.1.0"
requests = "~=2.20.0"
rq-scheduler = "~=0.9.1"
whitenoise = "~=3.3.0"
django-webpack-loader = "~=0.6.0"

[requires]
python_version = "3.7"
