Django==1.5
Pillow==2.1.0
South==0.7.6
django-bootstrap-toolkit==2.14.0
django-facebook==5.0.7beta
django-geoposition==0.1.4
django-tastypie==0.9.15
mimeparse==0.1.3
python-dateutil==2.1
six==1.3.0
wsgiref==0.1.2
