redis==2.10.6
rq==0.7.1
CommonMark==0.7.3
coverage==4.4.1
diff-match-patch==20121119
dj-database-url==0.4.2
django-activity-stream==0.6.3
django-allauth==0.32.0
django-bootstrap3==8.2.3
django-compat==1.0.14
django-debug-toolbar==1.8
django-geoposition==0.3.1
django-health-check==2.3.0
django-hijack==2.1.4
django-jsonfield==1.0.1
django-redis-cache==1.7.1
django-reversion-compare==0.7.5
django-reversion==2.0.8
django-rq==0.9.5
django-widget-tweaks==1.4.1
Django==1.11.23
docutils==0.13.1
Faker==0.7.17
gunicorn==19.7.1
Pillow==4.1.1
psycopg2==2.7.1
PyYAML==3.12
raven==6.1.0
requests==2.18.1
rq-scheduler==0.7.0
whitenoise==3.3.0
