// UID font style
.xsd-uid
  // TODO would like a nice monospace font
  font-weight: bold

// When linking to a larger array of objects than wants underline use the following
// i.e. Avatar and Name. The anchor gets .no-underline and the name is within a <span> with .underline
// Hover on anchor causes only underline on name.

a.no-underline:hover
  text-decoration: none
a:hover .underline
  text-decoration: underline

.last-child-mb0
  // Remove the bottom margin from the last child of this container.
  // The <p>Two</p> has its bottom margin removed
  //  <div class="last-child-m0">
  //    <p>One</p>
  //    <p>Two</p>
  //  </div>
  & > *:last-child
    margin-bottom: 0
