{% extends 'training_template.html' %}
{% block training_content %}
<div class="span4">
    <div class="lesson-detail">
        <div class="lesson-code {{ lesson.qualification.code }}">{{lesson.code}}</div>
        <h3>{{lesson.title}}</h3>
        <p>{{lesson.description}}</p>
        <p class="mode">This is a {{lesson.get_mode_display|lower}} lesson.</p>
    </div>
</div>
<div class="span5">
    {% if pls %}
        {% for pl in pls %}
            <div class="lesson-note">
            {% if pl.completed %}
            <h2>Lesson Completed</h2>
            <p>You completed this lesson on <strong>{{pl.get_date}}</strong>, your instructor was <strong>{{pl.instructor.get_full_name}}</strong>.</p>
            {% if pl.public_notes %}
            <h3>Notes</h3>
            <p class="notes">{{pl.public_notes}}</p>
            {% endif %}

            {% elif pl.partially_completed %}
            <h2>Lesson Partially Completed</h2>
            <p>You partially completed this lesson on <strong>{{pl.get_date}}</strong>, your instructor was <strong>{{pl.instructor.get_full_name}}</strong>.</p>
            {% if pl.public_notes %}
            <h3>Notes</h3>
            <p class="notes">{{pl.public_notes}}</p>
            {% endif %}
            {% else %}
            <h2>Lesson Planned</h2>
            {% if pl.session %}    
            <p>This lesson will take place on {{pl.session.when.date}} at {{pl.session.when.time}} at {{pl.session.where}}.</p>
            <h3>Notes</h3>
            <p class="notes">{{pl.session.notes|linebreaks}}</p>
            {% elif pl.date %}
            <p>This lesson will take place on {{pl.date}}, your instructor will be {{pl.instructor.get_full_name}}.</p>
            {% else %}
            <p>The lesson is planned but there is no other information in the database at this time.</p>
            {%endif%}
            {% endif %}
            </div>
        {% endfor %}

    {% else %}

    <h2 class="no-plan">Lesson Not Yet Planned</h2>

    {% endif %}
</div>
{% endblock %}
