{% extends 'training_template.html' %}
{% load lesson_extras %}
{% block training_content %}

<div class="span6">

    {% ifequal profile.top_qual None %}
    <p>You're currently unqualified and training for</p>
    <h1>{{profile.training_for}}</h1>
    {% else %}
    <p>You're a qualified</p>
    <h1>{{profile.top_qual}}</h1>
    {% if profile.training_for %}
    <p>training for</p>
    <h2>{{profile.training_for}}</h2>
    {% else %}
    <p>and you're not currently registered for any further training.</p>
    {% endif %}
    {% endifequal %}
</div>

{% endblock %}
