{% extends 'training_template.html' %}
{% load lesson_extras %}
{% block training_content %}

<div class="span9">
<p>This is the list of all SDCs that BSAC currently offer, expand an item to find out more and to register your interest. Once you've completed an SDC, and passed the assessment if applicable, a little tick will show next to the title.</p>
</div>

<div class="span7">
{% if sdcs %}
{% for cat in categories %}
<h4>{{cat.cat_name}}</h4>

<table class="table table-condensed table-striped">
    <tr><th>Title</th></tr>
    {% for sdc in cat.sdcs %}
    <tr>
        <td>
        <div class="alignright" >
        	<i class="sdc-interested icon-star sdc-register-interest sdc-register-interest-true-{{sdc.id}}" title="You have indicated an interest in doing this SDC" {% if not user|has_sdc_interest:sdc %}style="display:none"{% endif %}></i>
            {% if not user|has_sdc:sdc %}<i data-toggle="collapse" data-target="#sdc-info-{{sdc.id}}" class="icon-info-sign"></i>{% endif %}
        </div>

        <div class="sdc-title">
            {% if is_training %}
                {{sdc.interested_members.count}}
            {% endif %}
            {% if user|has_sdc:sdc %}
            <i class="sdc-has fa fa-check fa-fw" title="You have completed this SDC"></i>
        	{% else %}
            {% if sdc.other_requirements and profile|cando_sdc:sdc %}
            <i class="sdc-other-requirements fa fa-adjust fa-fw" title="This SDC has custom requirements"></i>
            {% elif not sdc.other_requirements and profile|cando_sdc:sdc %}
            <i class="sdc-cando fa fa-circle fa-fw" title="You can do this SDC"></i>
            {% else %}
            <i class="sdc-cantdo fa fa-circle-o fa-fw" title="You currently do not have the BSAC qualification to undertake this SDC"></i>
            {% endif %}
            {% endif %}{{sdc.title}}</div>

        <div id="sdc-info-{{sdc.id}}" class="sdc-info collapse out">

            <button class="btn btn-mini alignright sdc-register-interest sdc-register-interest-false-{{sdc.pk}}" data-sdc-id={{sdc.pk}} type="button" {% if user|has_sdc_interest:sdc %}style="display:none"{% endif %}>
                <i class="icon-hand-right"></i> I'm Interested In Doing This</button>
            
            {{sdc.description|linebreaks}}

            <div class="sdc-register-interest-true sdc-register-interest-true-{{sdc.id}}" {% if not user|has_sdc_interest:sdc %}style="display:none"{% endif %}>
                <button class="btn btn-danger btn-mini alignright sdc-cancel-interest" data-sdc-id={{sdc.pk}} type="button"><i class="icon-hand-right icon-white"></i> I'm No Longer Interested</button>
                <p>You have noted that you're interested in taking this course</p>
            </div>
            {% if is_training %}
                <h4>Interested Members</h4>
                <ul>
                {% for user in sdc.interested_members.all %}
                <li>{{user.get_full_name}}</li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>


    </td>
</tr>
    {% endfor %}
</table>

{% endfor %}
{% else %}
<p>You currently have not completed any SDCs.</p>
{% endif %}
</div>

<div class="span2 sdc-key">
<table class="table">
                <tr>
                    <td><i class="sdc-has fa fa-check fa-fw" title="You have completed this SDC"></i></td>
                    <td>SDC Attained</td>
                </tr>
                
                <tr>
                    <td><i class="sdc-cando fa fa-circle fa-fw" title="You can do this SDC"></i></td>
                    <td>You could do this SDC</td>
                </tr>
                <tr>
                    <td><i class="sdc-cantdo fa fa-circle-o fa-fw" title="You currently do not have the BSAC qualification to undertake this SDC"></i></td>
                    <td>Your qualification is too low to do this SDC</td>
                </tr>
                <tr>
                    <td><i class="sdc-other-requirements fa fa-adjust fa-fw" title="This SDC has custom requirements"></td>
                    <td>This SDC has complex requirements</td>
                </tr>
            </table>
</div>

{% endblock %}

{% block closing_js %}
<script type="text/javascript" src="/static/js/sdc.js"></script>
{% endblock %}
