{% extends 'training_template.html' %}
{% load lesson_extras %}
{% block training_content %}

<div class="span9">
<p>This is the list of all SDCs that BSAC currently offer, expand an item to find out more and to register your interest. Once you've completed an SDC, and passed the assessemnet if applicable, a little tick will show next to the title.</p>

{% if sdcs %}
{% for cat in categories %}
<h4>{{cat.cat_name}}</h4>

<table class="table table-condensed table-striped">
    <tr><th>Title</th></tr>
    {% for sdc in cat.sdcs %}
    <tr>
        <td>
        {% if sdc.description %}
        <div class="alignright" >
        	<i class="icon-star sdc-register-interest sdc-register-interest-true-{{sdc.id}}" {% if not user|has_sdc_interest:sdc %}style="display:none"{% endif %}></i>
        	{% if user|has_sdc:sdc %}<i class="icon-ok"></i>
        	{% else %}
            {% if sdc.other_requirements and profile|cando_sdc:sdc %}<i class="icon-adjust"></i>
            {% elif not sdc.other_requirements and profile|cando_sdc:sdc %}<i class="icon-circle"></i>{% endif %}
            {% endif %}
            
            
            <i data-toggle="collapse" data-target="#sdc-info-{{sdc.id}}" class="icon-info-sign"></i>
        </div>
        {% endif %}

        <div class="sdc-title">{{sdc.title}}</div>

        <div id="sdc-info-{{sdc.id}}" class="sdc-info collapse out">

            <button class="btn btn-mini alignright sdc-register-interest sdc-register-interest-false-{{sdc.pk}}" data-sdc-id={{sdc.pk}} type="button" {% if user|has_sdc_interest:sdc %}style="display:none"{% endif %}>
                <i class="icon-hand-right"></i> I'm Interested In Doing This</button>
            
            {{sdc.description|linebreaks}}

            <div class="sdc-register-interest-true sdc-register-interest-true-{{sdc.id}}" {% if not user|has_sdc_interest:sdc %}style="display:none"{% endif %}>
                <button class="btn btn-danger btn-mini alignright sdc-cancel-interest" data-sdc-id={{sdc.pk}} type="button"><i class="icon-hand-right icon-white"></i> I'm No Longer Interested</button>
                <p>You have noted that you're interested in taking this course</p>
            </div>

        </div>


    </td>
</tr>
    {% endfor %}
</table>

{% endfor %}
{% else %}
<p>You currently have not completed any SDCs.</p>
{% endif %}
</div>

{% endblock %}

{% block closing_js %}
<script type="text/javascript" src="/media/js/sdc.js"></script>
{% endblock %}
