{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span9">
<h1>Edit Sessions</h1>
{% if sessions %}
<table class="table table-condensed table-striped">
    <tr><th>When</th><th>Where</th><th>Lessons Planned</th><th></th></tr>
{% for session in sessions %}
    <tr>
        <td>{{session.when}}</td>
        <td>{{session.where}}</td>
        <td>{{session.performedlesson_set.all.count}}</td>
        <td class="action-icons"><a href="{% url 'SessionPlanner' session.pk %}"><i class="icon-pencil"></i></a> <a href="{% url 'SessionDelete' session.pk %}"><i class="icon-trash"></i></a></td>

        </tr>
{% endfor %}
</table>
{% endif %}
</div>


{% endblock %}
