{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span9">
<h1>Session Planner</h1>

<h2>Session Details</h2>
    <form action="" method="post">{% csrf_token %}
    <input type="hidden" name="form_def" value="session" />
    {{ form|as_bootstrap  }}
    



<h2>Trainees</h2>
    

    <div class="pls">
    {{performed_lessons_formset.management_form}}
    <table class="table">
    <tr><th>Trainee</th><th>Lesson</th><th>Instructor</th></tr>
    {% for form in performed_lessons_formset %}
    <tr><td>{{form.id}}{{form.instance.trainee}}{{form.trainee}}</td><td>{{form.lesson}}</td><td>{{form.instructor}}</td></tr>
    {% endfor %}

    </table>
    <input type="submit" class="btn btn-primary" value="Update Session" />

    </div>

    <div>
    Bulk add trainees.
            <form action="." method="GET">
                <input type="text" id="token-input" name="names" />
                <input type="submit" class="btn" value="Select" />
            </form>
        </div>
</form>

</div>


{% endblock %}
