{% extends 'base_template.html' %}
{% load xsd_nav %}
{% block content %}
<div class="row">
<div class="span3 section-nav">
    <ul class="nav nav-list">

      <li class="nav-header">Your Training</li>
      <li   {% is_active_simple ui.page 'my_overview' %}>
            <a href="{% url 'xsd_training.views.trainee.overview' %}"><i class="icon-dashboard icon-fixed-width"></i> Overview</a></li>
      {% if profile.training_for %}
      <li   {% is_active_simple ui.page 'my_lessons' %}>
            <a href="{% url 'xsd_training.views.trainee.lessons' %}"><i class="icon-trophy icon-fixed-width"></i> Lessons</a></li>{% endif %}
      <li   {% is_active_simple ui.page 'my_feedback' %}>
            <a href="{% url 'xsd_training.views.trainee.all_feedback' %}"><i class="icon-ok-circle icon-fixed-width"></i> See All Feedback</a></li>

      <li class="nav-header">Skill Development Courses</li>
      <li   {% is_active_simple current_url 'SDCList' %}>
            <a href="{% url 'SDCList' %}"><i class="icon-list icon-fixed-width"></i> All SDCs</a></li>
      <li   {% is_active_simple current_url 'PerformedSDCList' %}
            {% is_active_simple current_url 'PerformedSDCDetail' %}>
            <a href="{% url 'PerformedSDCList' %}"><i class="icon-calendar icon-fixed-width"></i> Upcoming Courses</a></li>

      {% if profile.is_instructor or is_training %}
      <li class="nav-header">Your Teaching</li>
      <li   {% is_active_simple current_url 'InstructorUpcoming' %}>
            <a href="{% url 'InstructorUpcoming' %}"><i class="fa fa-clock-o icon-fixed-width"></i> Upcoming Lessons</a></li>
      <li   {% is_active_simple current_url 'TraineeNotesSearch' %} {% is_active_simple current_url 'TraineeNotes' %}>
            <a href="{% url 'TraineeNotesSearch' %}"><i class="icon-trophy icon-fixed-width"></i> See Trainee Notes</a></li>
      {% endif %}

      {% if is_training %}
      <li class="nav-header">Trainee Administration</li>
      <li   {% is_active_simple current_url 'TraineeGroupList' %}
            {% is_active_simple current_url 'TraineeGroupCreate' %}
            {% is_active_simple current_url 'TraineeGroupUpdate' %}
            {% is_active_simple current_url 'TraineeGroupDelete' %}>
            <a href="{% url 'TraineeGroupList' %}"><i class="fa fa-users icon-fixed-width"></i> Groups</a></li>
      <li   {% is_active_simple current_url 'TraineeGroupProgress' %}>
            <a href="{% url 'TraineeGroupProgress' %}"><i class="icon-flag-checkered icon-fixed-width"></i> Progress Report</a></li>

      <li class="nav-header">Lesson Administration</li>
      <li   {% is_active_simple current_url 'SessionCreate' %}
            {% is_active_simple current_url 'SessionPlanner' %}
            {% is_active_simple current_url 'SessionList' %}
            {% is_active_simple current_url 'SessionDelete' %}>
            <a href="{% url 'SessionList' %}"><i class="icon-calendar icon-fixed-width"></i> Session Planning</a></li>
      <li   {% is_active_simple current_url 'PoolSheet' %}>
            <a href="{% url 'PoolSheet' %}"><i class="fa fa-file-o icon-fixed-width"></i> Create Pool Sheet</a></li>

      <li   {% is_active_simple current_url 'RetroAddLessons' %}>
            <a href="{% url 'RetroAddLessons' %}"><i class="icon-file-text-alt icon-fixed-width"></i> Retrospectively Add Lessons</a></li>
      
      <li   {% is_active_simple current_url 'QualificationAward' %}>
            <a href="{% url 'QualificationAward' %}"><i class="icon-trophy icon-fixed-width"></i> Award Qualifications</a></li>

      <li class="nav-header">SDC Administration</li>
      <li   {% is_active_simple current_url 'PerformedSDCCreate' %}>
            <a href="{% url 'PerformedSDCCreate' %}"><i class="icon-calendar icon-fixed-width"></i> Plan an SDC</a></li>
      
      <li><a href="#"><i class="icon-trophy icon-fixed-width"></i> Award SDCs</a></li>

      {% endif %}
    </ul> 

</div>
{% block training_content %}

{% endblock %}
</div>
{% endblock %}
