{% extends "socialaccount/base.html" %}

{% load url from future %}

{% load i18n %}

{% block content %}
    <h1>Database Registration</h1>
    {% if form.errors %}
    <p class="error" style="color:red">There were errors processing the registration, if you'd like to start the whole process again, <a href="/">click here</a>.</p>
    {% endif %}
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to the club database. Please confirm these details:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'xsd_auth:socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}
