{% extends 'members_template.html' %}
{% load xsd_nav %}

{% block members_content %}

<div class="row">
	<div class="span9">
		<h2>Members Selection Tool</h2>
		<p>Type in the names below and then select them from the dropdown.</p>
		<div class="formbox row-fluid">
			<div class="span10">
			{% include 'base/bulk_select_members.html' %}
			</div>
			<div class="span2">
			<form action="." method="GET">
				<input type="hidden" name="set" value="all" />
				<input type="submit" class="btn" value="Everybody" />
			</form>
			</div>
		</div>
		
		
	</div>
</div>
{% endblock %}