{% if members %}
<table class="table table-condensed table-striped">
	<tr><th>Name</th><th>Membership Type</th><th colspan="3">Expiry</th></tr>
{% for member in members %}
	<tr>
		<td><a href="{% url 'MemberDetail' member.user.pk %}">{{member.user.first_name}} {{member.user.last_name}}</a></td>
		<td>{{member.club_membership_type}}</td>
		<td class="expiry-column">{% if member.bsac_expired %}<i class="icon-bsac-small expired"></i>{% endif %}</td>
		<td class="expiry-column">{% if member.club_expired %}<i class="icon-home expired"></i>{% endif %}</td>
		<td class="expiry-column">{% if member.medical_form_expired %}<i class="icon-medkit expired">{% endif %}</td>
		</tr>
{% endfor %}
</table>
{% endif %}
