{% extends 'members_template.html' %}
{% load xsd_nav %}

{% block members_content %}

<div class="row">
	<div class="span9">
		{{content|safe}}
		<p>Type in the names below and then select them from the dropdown.</p>
		<div class="formbox row-fluid">
			<div class="span10">
			{% include 'base/bulk_select_members.html' %}
			</div>
			<div class="span2">
			<form action="." method="GET">
				<input type="hidden" name="set" value="all" />
				<button type="submit" class="btn btn-inverse"><i class="fa fa-circle"></i> Everybody</button>
			</form>
			</div>
		</div>
		
		
	</div>
</div>
{% endblock %}