{% extends 'members_template.html' %}
{% block members_content %}
{% load xsd_nav %}

<div class="row">
<div class="span9">
	{% ifequal member.gender "F" %} <img src="/media/images/female.png" class="alignright" />{% endifequal %}
	{% ifequal member.gender "M" %} <img src="/media/images/male.png" class="alignright" />{% endifequal %}
	<h1>{{member}}</h1>
	<div class="btn-group">
	{% if is_members %}
	{% if member.new_notify %}
	<a href="?action=remove-new-flag" class="btn" type="button"><i class="icon-flag"></i> Remove New Flag</a>
	{% endif %}
	<a href="{% url 'MemberEdit' member.user.pk %}" class="btn" type="button"><i class="icon-pencil"></i> Edit</a>
	{% elif myself %}
	<a href="{% url 'MyProfileEdit' %}" class="btn alignright" type="button"><i class="icon-pencil"></i> Edit</a>
	{% endif %}
	</div>
{% if myself %}
	{% if member.missing_personal_details %}
		<div class="alert alert-block">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
    		<h4>You're missing some bits</h4>
    			Some of your personal details are missing, this may hinder your training or ability to go on trips. <a href="">Finish your profile</a> here.
    		</div>
	{% endif %}
{% endif %}
</div>

<div class="span3">
	<dl>
		<h3>Personal Details</h3>
		<dt>Date Of Birth</dt>
		<dd>{{member.dob}}</dd>
		<dt>Age</dt>
		<dd>{{member.age}}</dd>
		<dt>Email Address</dt>
		<dd>{{member.user.email}}</dd>
		<dt>Home Phone</dt>
		<dd>{{member.home_phone}}</dd>
		<dt>Mobile Phone</dt>
		<dd>{{member.mobile_phone}}</dd>
		<dt>Address</dt>
		<dd>{{member.formatted_address|safe}}<br />
			{{member.postcode}}</dd>
		<dt>Veggie</dt>
		<dd>{{member.veggie}}</dd>
		{% if member.alergies %}
		<dt>Alergies</dt>
		<dd>{{member.formatted_alergies|safe}}</dd>
		{% endif %}


		<dt class="dl-break">Next of Kin Name</dt>
		<dd>{{member.next_of_kin_name}}</dd>
		<dt>Next of Kin Relation</dt>
		<dd>{{member.next_of_kin_relation}}</dd>
		<dt>Next of Kin Phone</dt>
		<dd>{{member.next_of_kin_phone}}</dd>
	</dl>
</div>
<div class="span3">
	<dl>
		<h3>Club Details</h3>
		{% if member.club_id %}
		<dt>Club ID</dt>
		<dd>{{member.club_id}}</dd>
		{% endif %}
		<dt>Club Membership Expiry</dt>
		<dd>{{member.club_expiry}}</dd>
		<dt class="dl-break">SDCs</dt>
		<dd>
			<ul>

			</ul>
		</dd>
		<dt>Instructor Number</dt>
		<dd>{{member.instructor_number}}</dd>
	</dl>
</div>
<div class="span3">
	<dl>
		<h3>Qualification Details</h3>
		<dt>Qualification</dt>
		<dd>{{member.top_qual}}</dd>
		{% if member.training_for %}
		<dt>Training For</dt>
		<dd>{{member.training_for}}</dd>
		{% endif %}
		{% if member.training_for %}
		<dt>Instructor Number</dt>
		<dd>{{member.instructor_number}}</dd>
		{% endif %}		
				<dt class="dl-break">SDCs</dt>
		<dd>
			<ul class="sdc">
			{% for sdc in member.sdcs.all %}
				<li>{{sdc}}</li>
				{% empty %}
				None
			{% endfor %}
			</ul>
		</dd>
		<dt>Other Qualifications</dt>
		<dd>{% if member.other_qualifications %}
			{{member.formatted_other_qualifications|safe}}
			{% else %}None{% endif %}</dd>
	</dl>
</div>
{% endblock %}
