{% extends 'members_template.html' %}
{% load xsd_nav %}

{% block members_content %}

<div class="row">
	<div class="span9">
		<h2>Members Selection Tool</h2>
		<p>Type in the names below, select them from the dropdown a la Facebook style.</p>
		<div>
			<form action="." method="GET">
				<input type="text" id="token-input" name="names" />
				<input type="submit" class="btn btn-primary" value="Select" />
			</form>
		</div>
		<h3>Whole Membership</h3>
		<p>Rather just do the entire membership, ok then...</p>
		<form action="." method="GET">
				<input type="hidden" name="set" value="all" />
				<input type="submit" class="btn" value="Everybody" />
			</form>
	</div>
</div>
{% endblock %}