{% extends 'members_template.html' %}
{% load bootstrap_toolkit %}

{% block members_content %}
<div class="row">
	<div class="span9">
		<p>Pop a surname, or part of one, into the box below and hit search. BAM!</p>
		<div class="formbox">
			<form action="." method="GET">
				{% csrf_token %}
				<div class="form-horizontal">
					{{search_form.surname}}
					<button type="submit" class="btn btn-primary">Search</button>
				</div>	
			</form>
		</div>
		{% include 'member_list_table.html' %}

	</div>
</div>
{% endblock %}
