{% extends 'base_template.html' %}
{% load xsd_nav %}
{% block content %}
<div class="row">
<div class="span3 nav-down">
    <ul class="nav nav-list">
      <li class="nav-header">Personal</li>
      <li {% is_active_simple current_url 'my-profile' %} {% is_active_simple current_url 'MyProfileEdit' %}>
      <a href="{% url 'my-profile' %}"><i class="fa fa-user icon-fixed-width"></i> Your Profile</a></li>

      {% if is_members %}
      <li class="nav-header">Current Membership</li>
      <li {% is_active_simple current_url 'MemberSearch' %}>
      <a href="{% url 'MemberSearch' %}"><i class="fa fa-search icon-fixed-width"></i> Search For Member</a></li>
      <li {% is_active_simple current_url 'MemberList' %}>
      <a href="{% url 'MemberList' %}"><i class="fa fa-th-list icon-fixed-width"></i> Members Listing</a></li>

      <li class="nav-header">Records Needing Attention</li>
      <li {% is_active_simple current_url 'NewMembers' %}>
      <a href="{% url 'NewMembers' %}"><i class="fa fa-flag icon-fixed-width"></i> New Members</a></li>
      <li {% is_active_simple current_url 'MemberUpdateRequestList' %}>
      <a href="{% url 'MemberUpdateRequestList' %}"><i class="fa fa-envelope-o icon-fixed-width"></i> Update Requests</a></li>
      <li {% is_active_simple current_url 'MembersMissingFieldsList' %}>
      <a href="{% url 'MembersMissingFieldsList' %}"><i class="fa fa-ban icon-fixed-width"></i> Members With Blank Fields</a></li>
      <li {% is_active_simple current_url 'MembersExpiredFormsList' %}>
      <a href="{% url 'MembersExpiredFormsList' %}"><i class="fa fa-exclamation-triangle icon-fixed-width"></i> Members With Expired Forms</a></li>

      <li class="nav-header">Bulk Jobs</li>
      <li {% is_active_simple current_url 'BulkAddForms' %}>
      <a href="{% url 'BulkAddForms' %}"><i class="fa fa-plus icon-fixed-width"></i> Add Forms</a></li>

      <li class="nav-header">Reporting</li>
      <li {% is_active_simple current_url 'ReportsOverview' %}>
      <a href="{% url 'ReportsOverview' %}"><i class="fa fa-bar-chart-o icon-fixed-width"></i> Membership Overview</a></li>

      <!-- <li class="nav-header">Manual Registration</li>
      <li {% is_active_simple current_url 'NoPage' %}>
      <a href="{% url 'MemberList' %}">Add User Only</a></li>
      <li {% is_active_simple current_url 'NoPage' %}>
      <a href="{% url 'MemberList' %}">Add Member</a></li> -->
      {% endif %}

    </ul> 

</div>
{% block members_content %}
No Content
{% endblock %}
</div>
{% endblock %}
