{% extends 'base_template.html' %}
{% load xsd_nav %}
{% block content %}
<div class="row">
<div class="span3 nav-down">
    <ul class="nav nav-list">
      <li class="nav-header">Personal</li>
      <li {% is_active_simple current_url 'my-profile' %} {% is_active_simple current_url 'MyProfileEdit' %}>
      <a href="{% url 'my-profile' %}">Your Profile</a></li>

      {% if is_members %}
      <li class="nav-header">Current Membership</li>
      <li {% is_active_simple current_url 'MemberSearch' %}>
      <a href="{% url 'MemberSearch' %}">Search For Member</a></li>
      <li {% is_active_simple current_url 'MemberList' %}>
      <a href="{% url 'MemberList' %}">Members Listing</a></li>

      <li class="nav-header">Records Needing Attention</li>
      <li {% is_active_simple current_url 'NewMembers' %}>
      <a href="{% url 'NewMembers' %}">New Members</a></li>
      <li {% is_active_simple current_url 'MemberUpdateRequestList' %}>
      <a href="{% url 'MemberUpdateRequestList' %}">Update Requests</a></li>
      <li {% is_active_simple current_url 'MembersMissingFieldsList' %}>
      <a href="{% url 'MembersMissingFieldsList' %}">Members With Blank Fields</a></li>
      <li {% is_active_simple current_url 'MembersExpiredFormsList' %}>
      <a href="{% url 'MembersExpiredFormsList' %}">Members With Expired Forms</a></li>

      <li class="nav-header">Bulk Jobs</li>
      <li {% is_active_simple current_url 'BulkAddForms' %}>
      <a href="{% url 'BulkAddForms' %}">Add Forms</a></li>

      <li class="nav-header">Reporting</li>
      <li {% is_active_simple current_url 'ReportsOverview' %}>
      <a href="{% url 'ReportsOverview' %}">Membership Overview</a></li>

      <!-- <li class="nav-header">Manual Registration</li>
      <li {% is_active_simple current_url 'NoPage' %}>
      <a href="{% url 'MemberList' %}">Add User Only</a></li>
      <li {% is_active_simple current_url 'NoPage' %}>
      <a href="{% url 'MemberList' %}">Add Member</a></li> -->
      {% endif %}

    </ul> 

</div>
{% block members_content %}
No Content
{% endblock %}
</div>
{% endblock %}
