{% extends 'base_template.html' %}
{% block content %}
<div class="row">
<div class="span6">
<div class="lesson-code">{{lesson.code}}</div>
<h1>{{lesson.title}}</h1>
<p class="mode">This is a {{lesson.get_mode_display|lower}} lesson.</p>
<p>{{lesson.description}}</p>

</div>
<div class="span4">
{% if pl %}
    {% if pl.completed %}
    <h2>Lesson Completed</h2>
    <p>You completed this lesson on <strong>{{pl.get_date}}</strong>, your instructor was <strong>{{pl.instructor}}</strong>.</p>
    {% if pl.public_notes %}
    <h3>Notes</h3>
    <p class="notes">{{pl.public_notes}}</p>
    {% endif %}
    
    {% else %}
    <h2>Lesson Planned</h2>
        {% if pl.session %}    
        <p>This lesson will take place on {{pl.session.when.date}} at {{pl.session.when.time}} at {{pl.session.where}}.</p>
        <h3>Notes</h3>
        <p class="notes">{{pl.session.notes}}</p>
        {% elif pl.date %}
        <p>This lesson will take place on {{pl.date}}.</p>
        {% else %}
        <p>The lesson is planned but there is no other information in the database at this time.</p>
        {%endif%}
    {% endif %}
{% endif %}
</div>
{% endblock %}
