{% extends 'about_template.html' %}
{% load staticfiles %}

{% block about_content %}
<div class="row">
	<div class="span3">
		<img src="{% static 'images/logo.gif' %}" class="about-logo" />
		<p>xSACdb is an open source project built and maintained by <a href="http://wjdp.co.uk">Will Pimblett</a>.</p>
		<p>As of some point recently the project contains around 14,000 lines of code. If you'd like to contribute please see the project's page <a href="http://github.com/wjdp/xSACdb">on <i class="fa fa-github"></i> GitHub</a>.</p>

		<table class="table break-up">
			<tr><th>Version</th><td>{{ version.tag }}</td></tr>
			<tr><th>Released</th><td>{{ version.released }}</td></tr>
		</table>
	</div>

	<div class="span6">
		<div class="django-credit">
			<img src="{% static 'images/django-logo-negative.png' %}" alt="Django" />
			<p>xSACdb is powered by the fabulous <i class="fa fa-gittip"></i> <a href="http://djangoproject.com">Django web framework</a>, alongside additional projects.</p>
		</div>
		<h4>Powering xSACdb:</h4>
		<ul style="-webkit-columns: 2" class="formatted">
			<li>Pillow</li>
			<li>South</li>
			<li>Unidecode</li>
			<li>argparse</li>
			<li>django-appconf</li>
			<li>django-bootstrap-toolkit</li>
			<li>django-debug-toolbar</li>
			<li>django-facebook</li>
			<li>django-geoposition</li>
			<li>django-tastypie</li>
			<li>docutils</li>
			<li>mimeparse</li>
			<li>python-dateutil</li>
			<li>six</li>
			<li>sqlparse</li>
			<li>wsgiref</li>
		</ul>

	</div>
</div>
{% endblock %}
