{% extends 'base_template.html' %}
{% load xsd_nav %}
{% load navigation %}

{% block content %}
<div class="xsd-module-row">

    {% module_nav %}

{%  comment %}
    <div class="xsd-module-column-nav">
        <ul class="xsd-module-nav">
          <li class="nav-header">About</li>
          <li {% is_active_simple current_url 'AboutView' %}>
          <a href="{% url 'AboutView' %}"><i class="fa fa-info-circle fa-fw"></i> About xSACdb</a></li>
          <li {% is_active_simple current_url 'DatabaseOfficers' %}>
          <a href="{% url 'DatabaseOfficers' %}"><i class="fa fa-shield fa-fw"></i> Database Officers</a></li>

          {% if is_admin %}
          <li class="nav-header">xSACdb Administration</li>
          <li class="nyi">
          <a href="{% url 'AllUpdateRequests' %}"><i class="fa fa-envelope-o fa-fw"></i> All Update Requests</a></li>
          <li class="nyi">
          <a href="{% url 'AssignRoles' %}"><i class="fa fa-asterisk fa-fw"></i> Assign Roles</a></li>
          <li class="nyi">
          <a href="{% url 'ApplicationTools' %}"><i class="fa fa-wrench fa-fw"></i> Application Tools</a></li>
          <li {% is_active_simple current_url 'DjangoAdminWarning' %}>
          <a href="{% url 'DjangoAdminWarning' %}"><i class="fa fa-cogs fa-fw"></i> Debug Backend</a></li>

          {% endif %}
        </ul>
    </div>
{% endcomment %}
    <div class="xsd-module-column-content">
{#    <div class="row">#}
    {% block about_content %}
    No Content
    {% endblock %}
{#    </div>#}
    </div>

</div>

{% endblock %}
