{% extends 'members_template.html' %}
{% load bootstrap3 %}

{% block title %}Member Search{% endblock %}

{% block members_content %}
<div class="row">
	<div class="col-md-9">
		<p>Search by either first or last names.</p>
		<div class="formbox">
			<form action="." method="GET">
				{% csrf_token %}
				<div class="form-horizontal">
					{% bootstrap_field search_form.surname show_label=false %}
					{% buttons %}
                        <button type="submit" class="btn btn-primary">
                          Search
                        </button>
                    {% endbuttons %}
				</div>
			</form>
		</div>
		{% include 'member_list_table.html' %}

	</div>
</div>
{% endblock %}
