{% extends 'members_template.html' %}
{% block members_content %}
{% load xsd_nav %}


	<div class="span5">
		<div class="titlebox">
		{% if member.user %}<img src="{{member.user.profile_image_url}}" alt="Profile Picture" class="alignright" />{%endif%}
		<h2>{{member}}</h2>
		<div class="btn-group btn-mini">
			{% if is_members %}
			{% if member.new_notify %}
			<a href="?action=remove-new-flag" class="btn btn-small" type="button"><i class="fa fa-flag"></i> Remove New Flag</a>
			{% endif %}
			<a href="{% url 'MemberEdit' member.pk %}" class="btn btn-small" type="button"><i class="fa fa-pencil"></i> Edit</a>
			{% if member_useraccount_form %}<a href="#member_useraccount_modal" data-toggle="modal" class="btn btn-small" type="button"><i class="fa fa-key"></i> Account Settings</a>{% endif %}
			<a href="{% url 'MemberDelete' member.pk %}" class="btn btn-small" type="button"><i class="fa fa-trash"></i> Delete</a>
			{% elif myself %}
			<a href="{% url 'MyProfileEdit' %}" class="btn btn-small" type="button"><i class="fa fa-pencil"></i> Edit</a>
			{% endif %}
		</div>
		</div>
		<div>
		<div class="qual_badge {{member.top_qual.code}}"></div>
		<p>{{member.first_name}} joined the database on {{member.date_joined|date}}.</p>
		<p>{{member.heshe}} was born on {{member.date_of_birth}}.</p>

		{% if member.membership_problem %}
		<div class="alert alert-error">
			<i class="fa fa-exclamation-triangle"></i> <strong>Uh-oh</strong> There are currently issues with {{member.first_name}}'s membership. Until this is fixed {{member.heshe|lower}} cannot go diving.
		</div>
		{%endif%}
		</div>

	</div>
	<div class="span4">
		<h3><i class="fa fa-envelope"></i> Contact Details</h3>
		<table class="table">
			<tr><th>Address</th><td>{% if not member.address or member.post_code %}<i class="fa fa-exclamation-triangle red"></i>{% else %}{{member.formatted_address|safe}}<br />{{member.postcode}}{% endif %}</td></tr>
			<tr><th>Email</th><td>{{member.email}}{% if not member.email %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Home Phone</th><td>{{member.home_phone}}{% if not member.home_phone %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Mobile Phone</th><td>{{member.mobile_phone}}{% if not member.mobile_phone %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>

		</table>
	</div>



	<div class="span5">
		<h3><i class="fa fa-home"></i> Club Details</h3>
		{% if member.club_expiry or not myself %}
		<table class="table">
			{% if member.club_id %}<tr><th>Club ID</th><td>{{ member.club_id }}</td></tr>{% endif %}
			{% if member.student_id %}<tr><th>Student ID</th><td>{{ member.student_id }}</td></tr>{% endif %}
			<tr><th>Membership Type</th><td>{{member.club_membership_type }}</td></tr>
			<tr><th>Membership Expiry Date</th><td>{{member.club_expiry }}{% if member.club_expired %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Medical Form Expiry Date</th><td>{{member.medical_form_expiry}}{% if member.medical_form_expired %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
		</table>
		{% else %}
		<div class="alert alert-info">
			<strong>Joining The Club</strong> It looks like you're new here, in order to take part in club activities you need to be a paying member, contact the committee for more information.
		</div>
		{% endif %}
	</div>

	<div class="span4">
		<h3><i class="fa fa-user"></i> Next of Kin</h3>
		<table class="table">
			<tr><th>Name</th><td>{{ member.next_of_kin_name }}{% if not member.next_of_kin_name %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Relation</th><td>{{ member.next_of_kin_relation }}{% if not member.next_of_kin_relation %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Phone</th><td>{{ member.next_of_kin_phone }}{% if not member.next_of_kin_phone %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
		</table>
	</div>
	<div class="span5">
		<h3><i class="fa fa-trophy"></i> Qualification Details</h3>
		<table class="table">
			<tr><th>Current Qualification</th><td>{{ member.top_qual }}</td></tr>
			<tr><th>Training For</th><td>{{ member.training_for }}</td></tr>
			{% if member.top_instructor_qual or not myself %}
			<tr><th>Instructor Qualification</th><td>{{ member.top_instructor_qual }}</td></tr>
			<tr><th>Instructor Number</th><td>{{ member.instructor_number }}</td></tr>
			{% endif %}
			<tr><th>SDCs</th><td>
				<ul class="mini-sdc-list">
				{% for sdc in member.sdcs.all %}<li>{{sdc}}</li>{% endfor %}
				</ul>
			</td></tr>

		</table>
	</div>

	<div class="span4">
		<h3><i class="icon-bsac"></i> BSAC Details</h3>
		{% if member.bsac_expiry or not myself %}
		<table class="table">
			{% if member.bsac_id %}<tr><th>BSAC ID</th><td>A{{ member.bsac_id }}</td></tr>{% endif %}
			<tr><th>Membership Type</th><td>
				{% if member.bsac_direct_debit %}Pays by direct debit
				{% elif member.bsac_direct_member %}Member of BSAC directly
				{% elif member.bsac_member_via_another_club}Member of BSAC through another club
				{% else %}Standard club member{% endif %}
			</td></tr>
			<tr><th>BSAC Expiry Date</th><td>{{member.bsac_expiry }}{% if member.bsac_expired %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
		</table>
		{% else %}
		<div class="alert alert-info">
			<strong>Joining BSAC</strong> This scuba club is a branch of the larger British Sub Aqua Club, you must also hold a membership with BSAC to participate.
		</div>
		{% endif %}
	</div>

{% include 'components/member_useraccount_modal.html' %}

{% endblock %}
