{% extends 'members_template.html' %}

{% block members_content %}

<div class="col-md-12">
<h1>Archive Member: {{member.get_full_name}}</h1>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to archive this member?</p>

    <p>This will expunge their membership record of any personal records, such as date of birth, address <em>&c</em>.
        It will not remove club details, such as their traning record, BSAC informaton or expiry dates.</p>

    <table class="table">
        <tr><th>UID</th><td>{{ member.uid }}</td></tr>
        <tr><th>Name</th><td>{{ member.get_full_name }}</td></tr>
        <tr><th>Joined Database</th><td>{{ member.date_joined|date }}</td></tr>
    </table>

    <div class="form-actions">
	    <input type="submit" class="btn btn-warning" value="Archive (I'm Sure)" />
	    <a href="{% url 'xsd_members:MemberDetail' member.pk %}"  class="btn btn-success alignright">Cancel</a>
	</div>
</form>
</div>


{% endblock %}


