########################
# xSACdb Configuration #
########################

# Make a copy of this file as `local_settings.py`
# The production server will not start without doing this

# Club config
CLUB = {
    # Name of your club
	'name': 'MadeUpSAC',

    # Are you a student club? This adds fields like student ID to the member records
    'student': True,

    'how_to_renew': 'Renew at <a href="http://su.university.ac.uk/sub-aqua">http://su.university.ac.uk/sub-aqua</a>',
    'bsac_club_renew': 'Contact the VP for details.',
}

# Hostnames that are allowed to host this instance
ALLOWED_HOSTS=[
    'database.madeupsac.com',
]

# Email

# Mailgun integration
EMAIL_FROM = 'database@madeupsac.com'

MAILGUN_DOMAIN = 'database.madeupsac.com'
MAILGUN_API_KEY = 'abc'

# SMTP config -- not as good as our mailgun integration
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
#EMAIL_HOST = 'smtp.email.org'
#EMAIL_HOST_USER = 'database@madeupsac.com'
#EMAIL_HOST_PASSWORD = '???'

# Database
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'tmp/db.sqlite3',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Background task queues
RQ_QUEUES = {
    'default': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
        'PASSWORD': '',
        'DEFAULT_TIMEOUT': 360,
    },
}

# Raven is getsentry.com's error reporter
# RAVEN_CONFIG = {
#    'dsn': 'https://??:??@app.getsentry.com/??',
#    'dsn_public': 'https://??@app.getsentry.com/??',
#}

# Email error reports to
ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

# Make this unique, and don't share it with anybody.
# Generate one here: http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''

# Set this to expected hostnames, e.g. members.yoursac.com
ALLOWED_HOSTS=['members.yoursac.com']

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/London'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-gb'

