{% load forms %}
{% load widget_tweaks %}

<div class="input-group {{ field|xsd_field_type }}">
    {% if field.id_for_label == "id_bsac_id" %}
        <span class="input-group-addon">A</span>
    {% endif %}

    {% if field.id_for_label == "id_instructor_number" %}
        <span class="input-group-addon">{{ member.top_instructor_qual.code }}</span>
    {% endif %}

    {% if field.id_for_label == "id_cost" %}
        <span class="input-group-addon">£</span>
    {% endif %}

    {% if field|field_type == 'datefield' %}
        <div class="input-group-addon">
            <span class="fa fa-calendar-o"></span>
        </div>
    {% endif %}


    {% render_field field class+="form-control" %}


    {% if field.id_for_label == "id_max_depth" %}
        <span class="input-group-addon">metres</span>
    {% endif %}
</div>
