<div class="modal fade xsd-qualification-modal xsd-qualification-modal--create" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Award A New Qualifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'xsd_training:TraineeQualificationCreate' trainee.pk %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {% include 'forms/form.html' with form=performed_qualification_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target=".xsd-qualification-modal--list">
                        Back
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Award
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
