<ul class="xsd-nav-module">
{% for nav_section in nav %}
    <li class="xsd-nav-module__header">
        {{ nav_section.title }}
    </li>
    {% for nav_item in nav_section.items %}
        <li class="xsd-nav-module__item">
            <a class="xsd-nav-module__link {% if nav_item.5 %}active{% endif %}" href="{% url nav_item.3 %}">
                {% if nav_item.2 %}<i class="{{ nav_item.2 }} fa-fw"></i>{% endif %}
                {{ nav_item.0 }}
            </a>
        </li>
    {% endfor %}
{% endfor %}
</ul>
