.xsd-qual-banner
  position: relative
  margin-bottom: 0.5rem
  padding: 0.5rem 0
  text-align: center

  font-size: 1.1em
  font-weight: bold
  color: white

  i
    left: 11px
    top: 13.5px

// Background qual colours
.xsd-qual-banner--
  background: $color-AA
.xsd-qual-banner--OD
  background: $color-OD
.xsd-qual-banner--SD
  background: $color-SD
.xsd-qual-banner--DL
  background: $color-DL
.xsd-qual-banner--AD
  background: $color-AD
.xsd-qual-banner--FC
  background: $color-FC

// Foreground qual colours
.xsd-qual-fg--
  color: $color-AA
.xsd-qual-fg--OD
  color: $color-OD
.xsd-qual-fg--SD
  color: $color-SD
.xsd-qual-fg--DL
  color: $color-DL
.xsd-qual-fg--AD
  color: $color-AD
.xsd-qual-fg--FC
  color: $color-FC
