{% load xsd_nav %}
<!doctype html>
<html>
<head>
    {% block pre_head %}{% endblock %}
    <title>{% block title %}{{l10n_club.name}} Database{% endblock %}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap.min.css" />
    <style>
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/strap.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/token-input-facebook.css" />

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.forms.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/css_extra.js"></script>

    {% block post_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">{{l10n_club.name}} Database</a>
            <ul class="nav">
                <li {% is_active_simple ui.app 'home' %}><a href="/">Home</a></li>
                <li {% is_active_simple ui.app 'profile' %}><a href="{% url 'xsd_members.views.view_my_profile' %}">Profile</a></li>
                {% if is_members %}<li {% is_active_simple ui.app 'members' %}><a href="{% url 'xsd_members.views.admin' %}">Members</a></li>{% endif %}
                <li {% is_active_simple ui.app 'training' %}><a href="{% url 'xsd_training.views.trainee.overview' %}">Training</a></li>
                <li {% is_active_simple ui.app 'sites' %}><a href="{% url 'SitesOverview' %}">Sites</a></li>
                {# <li {% is_active_simple ui.app 'trips' %}><a href="{% url 'TripList' %}">Trips</a></li> #}
                <li><a href="{% url 'AboutView' %}">About</a></li>
            </ul>
            <ul class="pull-right nav">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <strong><i class="fa fa-user"></i> {{request.user.get_full_name}}</strong> <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#update_request_modal" data-toggle="modal"><i class="fa fa-envelope-o icon-fixed-width"></i> Request An Update To Records</a></li>
                        <li><a href="#update_account_modal" data-toggle="modal"><i class="fa fa-cog icon-fixed-width"></i> Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout icon-fixed-width"><i class="fa fa-sign-out"></i> Logout of Database</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
{% block content %}
No content
{% endblock %}

{% include 'update_request.html' %}
{% include 'update_account.html' %}

{% block closing_js %}{% endblock %}
</div>
</body>
</html>
