<style type="text/css">
#mouse_iframe {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    width:400px; position:fixed; display: none;
    
}
#mouse_iframe .overflow-fill {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 1px #aaa;
}
#mouse_iframe .half {
    width: 40%;
    float:left;
    padding: 6px ;

}
#mouse_iframe p {
    margin-bottom: 8px
}
#mouse_iframe #js-banner {
    /*height: 14px;*/
    text-align: center;
    font-weight: bold;
}
#mouse_iframe .completed {
background: #A3FFBF
}
#mouse_iframe .partially_completed {
background: #EEF2A4
}
#mouse_iframe .not {
background: #F0ACA3
}
#mouse_iframe .clear {clear:left; border-bottom: 1px solid #ccc; margin-bottom: 3px}

.ljs {  cursor:pointer}
</style>


<div id='mouse_iframe' style=" ">
<div class="overflow-fill">
<div id="js-banner"><span class="js-lesson">lesson</span></div>
<div class="half">
    <p><i class="fa fa-calendar-o fa-fw"></i> <span class="js-date">date</span></p>
    <p><i class="fa fa-map-marker fa-fw"></i> <span class="js-session">session</span></p>
    <p><i class="fa fa-user fa-fw"></i> <span class="js-instructor">instructor</span></p>
        
</div>
<div class="half">
<p class="public"><i class="fa fa-unlock fa-fw"></i> <span class="js-public">public</span></p>
<p class="private"><i class="fa fa-lock fa-fw"></i> <span class="js-private">private</span></p>
</div>
<div class="clear"></div>
</div>

</div>