{% extends 'training_template.html' %}

{% block training_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Trainee Groups</h1>
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete this Trainee Group? Groups are only used as a selection and reporting
                    tool. You will only loose this list of trainees by deleting it, no lessons or other records will be
                    removed.</p>

                <table class="table">
                    <tr>
                        <th>UID</th>
                        <td>{{ tg.uid }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ tg.name }}</td>
                    </tr>
                    <tr>
                        <th>Trainees</th>
                        <td>{{ tg.trainees_list }}</td>
                    </tr>
                </table>

                <div class="form-actions">
                    <input type="submit" class="btn btn-danger" value="Delete (I'm SuperDuper&trade; Sure)"/>
                    <a href="{% url 'xsd_training:TraineeGroupList' %}" class="btn btn-success alignright">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


