{% load compress %}

{% compress js %}

<script type="text/javascript" src="/static/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-form/jquery.form.js"></script>
<script type="text/javascript" src="/static/jquery-tokeninput/src/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/static/jquery-form/jquery.form.js"></script>
{#<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>#}

<script type="text/javascript" src="/static/tether/dist/js/tether.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/raven-js/dist/raven.min.js"></script>

{% endcompress %}

{% if RAVEN_DSN %}
<script type="text/javascript">
    Raven.config('{{ RAVEN_DSN }}').install()
</script>
{% endif %}

{% compress js %}

<script type="text/javascript" src="/static/js/css_extra.js"></script>
<script type="text/coffeescript" src="/static/coffee/mq-detector.coffee"></script>
<script type="text/coffeescript" src="/static/coffee/activity-spinner.coffee"></script>
<script type="text/coffeescript" src="/static/coffee/nav.coffee"></script>

{% endcompress %}

{% compress js inline %}
<script type="text/javascript">
navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
    .then(function(r) {
      console.log('registered service worker');
    })
    .catch(function(whut) {
      console.error('uh oh... ');
      console.error(whut);
    });
</script>
{% endcompress %}
