{% load xsd_nav %}

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">{{ l10n_club.name }}</a>
        <ul class="nav navbar-nav">

            {% if not is_members %}
            <li class="nav-item {% if namespace == "xsd_members" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_members:my-profile' %}"><i class="fa fa-user"></i> Profile</a>
            </li>
            {% endif %}

            {% if is_members %}
            <li class="nav-item {% if namespace == "xsd_members" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_members:MemberSearch' %}"><i class="fa fa-user"></i> Members</a>
            </li>
            {% endif %}

            {% if is_verified %}
            <li class="nav-item {% if namespace == "xsd_training" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_training:training-overview' %}"><i class="fa fa-mortar-board"></i> Training</a>
            </li>
            {% endif %}

            {% if DEBUG and is_verified %}
            <li class="nav-item {% if namespace == "xsd_trips" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_trips:TripList' %}"><i class="fa fa-road"></i> Trips</a>
            </li>
            <li class="nav-item {% if namespace == "xsd_kit" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_kit:KitOverview' %}"><i class="fa fa-tags"></i> Kit</a>
            </li>
            {% endif %}

            {% if is_verified %}
            <li class="nav-item {% if namespace == "xsd_sites" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_sites:SitesOverview' %}"><i class="fa fa-map-marker"></i> Sites</a>
            </li>
            {% endif %}

            <li class="nav-item {% if namespace == "xsd_about" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_about:AboutView' %}"><i class="fa fa-info-circle"></i> About</a>
            </li>

            <li class="nav-item dropdown pull-xs-right  {% if namespace == "xsd_auth" %}active{% endif %}">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{request.user.get_full_name}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><i class="fa fa-envelope-o fa-fw"></i> Request An Update To Records</a>
                  <a class="dropdown-item" href="{% url 'xsd_auth:account_change_password' %}"><i class="fa fa-cog fa-fw"></i> Account Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/accounts/logout"><i class="fa fa-sign-out fa-fw"></i> Logout of Database</a>
                </div>
            </li>

            {% if DEBUG %}
            <li class="nav-item pull-xs-right  {% if namespace == "xsd_help" %}active{% endif %}">
                <a class="nav-link" href="{% url 'xsd_help:HelpView' %}">
                    <i class="fa fa-question-circle"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
