{% extends 'base_template.html' %}
{% load xsd_nav %}
{% block content %}
<div class="row">
<div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">View Sites</li>
      <li {% is_active_simple current_url 'SitesOverview' %}>
      <a href="{% url 'SitesOverview' %}">Sites Overview</a></li>
      <li {% is_active_simple current_url 'SitesSearch' %}>
      <a href="{% url 'SitesSearch' %}">Search for a Site</a></li>

      {% if has_sites_module %}
      <li class="nav-header">Edit Sites</li>
      <li {% is_active_simple current_url 'SitesCreate' %}>
      <a href="{% url 'MemberSearch' %}">Add a Site</a></li>
      <li {% is_active_simple current_url 'SitesList' %}>
      <a href="{% url 'MemberList' %}">Bulk Edit Sites</a></li>
      {% endif %}

    </ul> 

</div>
{% block sites_content %}
No Content
{% endblock %}
</div>
{% endblock %}
