{% extends 'sites_template.html' %}
{% load bootstrap_toolkit %}

{% block post_head %}
{% include 'google_maps_init.js' %}
{% endblock %}

{% block sites_content %}

<div class="span9">
<div id="map-canvas">
</div>
<div class="row" id="site-info-blank">
Click a site to open details
</div>
<div class="row" id="site-info">
<div class="span6">
<h2 id="site-name">Site Name</h2>
<p id="site-address">
Address<br />
Goes<br />
Here<br />
</p>
<p id="site-phone">01223 456 789</p>
<p id="site-email">email@address.com</p>
</div>
<div class="span3">
<h3>Site Details</h3>
<p id="site-facilities">
facilities go here
</p>
<p class="depth"><span id="site-maxdepth">30m</span></p>
<p class="temp"><span id="site-mintemp">-2</span><span id="site-maxtemp">15</span></p>
</div>
</div>

</div>
{% endblock %}
