{% load widget_tweaks %}
{% load forms %}
<dt>
    <label for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>
</dt>
<dd class="{% if field.errors %}has-error{% endif %}">
    {% include 'forms/field_input-group.html' with field=field %}

    {% for error in field.errors %}
        <div class="form-control-feedback">
            {{ error }}
        </div>
    {% endfor %}

    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}

</dd>
