<table class="table table-striped table-hover">
    <thead>
        <th>#</th>
        <th>Dates</th>
        <th>Details</th>
    </thead>
    <tbody>
        {% for trip in trips %}
        <tr>
            <td>{{ trip.uid }}</td>
            <td>{{ trip.date_start }} —<br />{{ trip.date_end }}</td>
            <td>
                <a href="{{ trip.get_absolute_url }}">{{ trip.name }}</a>
                <span class="state">{{ trip.get_state_display }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
