{% load xsd_nav %}
<!doctype html>
<html>
<head>
    {% block pre_head %}{% endblock %}
    <title>{% block title %}xSACdb Default Template{% endblock %}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" media="screen" href="/media/bootstrap/css/bootstrap.min.css" />
    <style>
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/media/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/strap.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/token-input-facebook.css" />

    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/media/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/media/bootstrap/js/bootstrap.min.js"></script>

    {% block post_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">xSACdb Dev Version</a>
            <ul class="nav">
                <li {% is_active_simple ui.app 'home' %}><a href="/">Home</a></li>
                <li {% is_active_simple ui.app 'profile' %}><a href="{% url 'xsd_members.views.view_my_profile' %}">Profile</a></li>
                {% if is_members %}<li {% is_active_simple ui.app 'members' %}><a href="{% url 'xsd_members.views.admin' %}">Members</a></li>{% endif %}
                <li {% is_active_simple ui.app 'training' %}><a href="{% url 'xsd_training.views.trainee.overview' %}">Training</a></li>
                <li {% is_active_simple ui.app 'sites' %}><a href="{% url 'SitesOverview' %}">Sites</a></li>
                <li {% is_active_simple ui.app 'trips' %}><a href="{% url 'TripList' %}">Trips</a></li>
                {% if is_admin %}<li><a href="/admin">Admin</a></li>{% endif %}
            </ul>
            <ul class="pull-right nav">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{request.user.get_full_name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#update_request_modal" data-toggle="modal">Request An Update To Records</a></li>
                        <li><a href="#update_account_modal" data-toggle="modal">Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout">Logout of Database</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
{% block content %}
No content
{% endblock %}

{% include 'update_request.html' %}
{% include 'update_account.html' %}

{% block closing_js %}{% endblock %}
</div>
</body>
</html>
