{% extends 'training_template.html' %}
{% block training_content %}
<div class="col-lg-6">
    <div class="xsd-lesson-detail xsd-lesson-detail--{{ lesson.qualification.code }}">
        <h3>
            <span class="xsd-lesson-code xsd-lesson-code--{{ lesson.qualification.code }}">{{ lesson.code }}</span>
            {{ lesson.title }}
        </h3>
        <p>{{ lesson.description }}</p>
        <p class="mode">This is a {{lesson.get_mode_display|lower}} lesson.</p>
    </div>
</div>
<div class="col-lg-6">
    {% if pls %}
        {% for pl in pls %}
            <div class="xsd-lesson-note">
            {% if pl.completed %}
            <h2>Lesson Completed</h2>
            <p>You completed this lesson on <strong>{{pl.get_date}}</strong>{% if pl.instructor.get_full_name%}, your instructor was <strong>{{pl.instructor.get_full_name}}</strong>{%endif%}.</p>
            {% if pl.public_notes %}
            <h3>Notes</h3>
            <p class="notes">{{pl.public_notes}}</p>
            {% endif %}

            {% elif pl.partially_completed %}
            <h2>Lesson Partially Completed</h2>
            <p>You partially completed this lesson on <strong>{{pl.get_date}}</strong>{% if pl.instructor.get_full_name%}, your instructor was <strong>{{pl.instructor.get_full_name}}</strong>{%endif%}.</p>
            {% if pl.public_notes %}
            <h3>Notes</h3>
            <p class="notes">{{pl.public_notes}}</p>
            {% endif %}
            {% else %}
            <h2>Lesson Planned</h2>
            {% if pl.session %}    
            <p>This lesson will take place on {{pl.session.when.date}} at {{pl.session.when.time}} at {{pl.session.where}}.</p>
            <h3>Notes</h3>
            <p class="notes">{{pl.session.notes|linebreaks}}</p>
            {% elif pl.date %}
            <p>This lesson will take place on {{pl.date}}, your instructor will be {{pl.instructor.get_full_name}}.</p>
            {% else %}
            <p>The lesson is planned but there is no other information in the database at this time.</p>
            {%endif%}
            {% endif %}
            </div>
        {% endfor %}

    {% else %}

    <h2 class="no-plan">Lesson Not Yet Planned</h2>

    {% endif %}
</div>
{% endblock %}
