{% if planned %}
<ul class="lessons planned">
    {% for l in planned %}
    <li>
    {% if l.description %}<a href="{% url 'xsd_training:lesson_detail' l.id %}">{% endif %}
        {% if l.code %}{{l.code}} - {% endif %}{{l.title}}
    {% if l.description %}</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if lessons %}
<ul class="lessons uncompleted">
    {% for l in lessons %}
    <li>
    {% if l.description %}<a href="{% url 'xsd_training:lesson_detail' l.id %}">{% endif %}
        {% if l.code %}{{l.code}} - {% endif %}{{l.title}}
    {% if l.description %}</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if completed %}
<ul class="lessons completed">
    {% for l in completed %}
    <li>
    {% if l.description %}<a href="{% url 'xsd_training:lesson_detail' l.id %}">{% endif %}
        {% if l.code %}{{l.code}} - {% endif %}{{l.title}}
    {% if l.description %}</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if not planned and not lessons and not completed %}
No Lessons in this category for this qualification.
{% endif %}
