{% if planned %}
    <ul class="xsd-lesson-list xsd-lesson-list--planned">
        {% for l in planned %}
            <li>
                <i class="fa fa-fw fa-clock-o"></i>
                {% if l.description %}<a href="{% url 'xsd_training:MyLessonDetail' l.id %}">{% endif %}
                {% if l.code %}{{ l.code }} - {% endif %}{{ l.title }}
                {% if l.description %}</a>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if lessons %}
    <ul class="xsd-lesson-list xsd-lesson-list--uncompleted">
        {% for l in lessons %}
            <li>
                <i class="fa fa-fw fa-circle-thin"></i>
                {% if l.description %}<a href="{% url 'xsd_training:MyLessonDetail' l.id %}">{% endif %}
                {% if l.code %}{{ l.code }} - {% endif %}{{ l.title }}
                {% if l.description %}</a>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if completed %}
    <ul class="xsd-lesson-list xsd-lesson-list--completed">
        {% for l in completed %}
            <li>
                <i class="fa fa-fw fa-check"></i>
                {% if l.description %}
                    <a href="{% url 'xsd_training:MyLessonDetail' l.id %}">{% endif %}
                {% if l.code %}{{ l.code }} - {% endif %}{{ l.title }}
                {% if l.description %}</a>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if not planned and not lessons and not completed %}
    <p>No Lessons in this category for this qualification.</p>
{% endif %}
