<style type="text/css">
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.half {
	width: 50%;
	float:left;
	padding: 3px ;
}
p {
	margin-bottom: 8px
}
.banner {
	width:100%;
	padding: 3px 10px;
	text-align: center;
	font-weight: bold;
}
.completed {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A3FFBF),
	color-stop(1, #3AE314)
);
background-image: -o-linear-gradient(bottom, #A3FFBF 0%, #3AE314 100%);
background-image: -moz-linear-gradient(bottom, #A3FFBF 0%, #3AE314 100%);
background-image: -webkit-linear-gradient(bottom, #A3FFBF 0%, #3AE314 100%);
background-image: -ms-linear-gradient(bottom, #A3FFBF 0%, #3AE314 100%);
background-image: linear-gradient(to bottom, #A3FFBF 0%, #3AE314 100%);
}
.partial {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EEF2A4),
	color-stop(1, #DCE05E)
);
background-image: -o-linear-gradient(bottom, #EEF2A4 0%, #DCE05E 100%);
background-image: -moz-linear-gradient(bottom, #EEF2A4 0%, #DCE05E 100%);
background-image: -webkit-linear-gradient(bottom, #EEF2A4 0%, #DCE05E 100%);
background-image: -ms-linear-gradient(bottom, #EEF2A4 0%, #DCE05E 100%);
background-image: linear-gradient(to bottom, #EEF2A4 0%, #DCE05E 100%);
}
.not {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F0ACA3),
	color-stop(1, #DE5D5D)
);
background-image: -o-linear-gradient(bottom, #F0ACA3 0%, #DE5D5D 100%);
background-image: -moz-linear-gradient(bottom, #F0ACA3 0%, #DE5D5D 100%);
background-image: -webkit-linear-gradient(bottom, #F0ACA3 0%, #DE5D5D 100%);
background-image: -ms-linear-gradient(bottom, #F0ACA3 0%, #DE5D5D 100%);
background-image: linear-gradient(to bottom, #F0ACA3 0%, #DE5D5D 100%);
}
.clear {clear:left; border-bottom: 1px solid #ccc; margin-bottom: 3px}
</style>
<div class="banner {%if is_completed %}completed{%elif is_partially_completed %}partial{%else%}not{% endif %}">{{lesson}}</div>
{% for pl in pls %}
<div class="half">
	<p><i class="fa fa-calendar-o fa-fw"></i> {{pl.date}}</p>
	{% if pl.session %}<p><i class="fa fa-map-marker fa-fw"></i> {{pl.session}}</p>
						<p><i class="fa fa-user fa-fw"></i> {{pl.instructor.get_full_name}}</p>
	{% else %}<p><i class="fa fa-map-marker fa-fw"></i> <em>Lesson added retrospectively</em></p>
		<p><i class="fa fa-user fa-fw"></i> <em>Lesson added retrospectively</em></p>
	{% endif %}
</div>
<div class="half">
<p class="public"><i class="fa fa-unlock fa-fw"></i>  {{pl.public_notes}}</p>
<p class="private"><i class="fa fa-lock fa-fw"></i> {{pl.private_notes}}</p>
</div>
<div class="clear"></div>
{% endfor %}
