{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span2 retro-select">
<h3>Retro Tool</h3>
	<p>Select a trainee to manually add lessons to their training record. The load times on this page may be long.</p>
	<hr />
	<form action="." method="get">
		{{ trainee_select_form|as_bootstrap }}
		<button type="submit" class="btn {% if not formsets %}btn-primary{% endif %}"><i class="fa fa-arrow-right"></i> Select</button>
	</form>
	<hr />
	<ol>
		<li>Select trainee.</li>
		<li>Input lessons to add, only lessons with dates will be added.</li>
		<li>Check for errors and preview lessons to be added.</li>
		<li>Add these lessons to the database.</li>
	</ol>
</div>
{% if formsets %}

<form action="." method="POST">
<div class="ret-form-actions">
	    {% if all_valid %}
	    <p>After this lessons will be immediately added.</p>
	    <button type="submit" class="btn btn-success alignright"><i class="fa fa-check"></i> Add Lessons</button>
	    <input type="hidden" name="save_now" value="1" />
	    {% else %}
	    <button type="submit" class="btn btn-primary alignright"><i class="fa fa-eye"></i> Check</button>
	    {% endif %}
	</div>
<div class="span7">
<input type="hidden" name="trainee" value="{{trainee.pk}}" />
<input type="hidden" name="qualification" value="{{qualification.pk}}" />
{% csrf_token %}
	<table class="table table-condensed retro-spreadsheet">
		{% for formset in formsets %}
		<tr>
		{{ formset.management_form }}
		{% for form in formset %}
		{% if form.display %}
			<td>
			<table>
			<tr><td class='retro-top'>
			{% if form.lesson_data.code %}
				<h4 class='mode-{{form.lesson_data.mode}}'>{{form.lesson_data.code}}</h4>
				<p>{{form.lesson_data.title}}</p>
			{% else %}
				<h4 class='mode-{{form.lesson_data.mode}}'>{{form.lesson_data.title}}</h4>
			{% endif %}
			</td></tr>
			<tr><td class='retro-bottom'>
			{% if form.already_completed %}
				<p>Lesson already completed</p>
			{% else %}
				{% if form.already_partial %}
					<p>This lesson is already partially completed</p>
				{% endif %}
			{{ form.as_p }}
				
			{% endif %}
			</td></tr>
			</table>
			</td>
			{% endif %}
		{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>

	

</form>
{% endif %}

{% endblock %}