{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="col-md-12">
	<h1>Session Planning</h1>
	<h2>New Session</h2>
	<form action="" method="post">{% csrf_token %}
		<div class="row-fluid">
			<div class="span7">
				{{ form.name|as_bootstrap  }}
				{{ form.when|as_bootstrap  }}
				{{ form.where|as_bootstrap  }}
			</div>
			<div class="span5">
				{{ form.notes|as_bootstrap  }}
			</div>

		</div>
		<div class="form-actions ">
		Trainees and lessons are added in the next step.
			<button type="submit" class="btn btn-primary alignright">Next</button>
			</div>
	</form>

</div>

{% endblock %}
