{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span9">
<p>You can add trainee groups in bulk to lessons, this is useful if you have a regular cohort of trainees taking a particular course.</p>
<p>Groups act as one-time selection tools, once the group has been added to a session later changes to the group will not be reflected in the session.</p>
</div>
<div class="span6">
{% if tgs %}
<table class="table table-condensed table-striped">
    <tr><th>Group</th><th>Members</th><th></th></tr>
{% for group in tgs %}
    <tr>
        <td>{{group.name}}</td>
        <td>{{group.trainees_list_with_links|safe}}</td>
        <td class="action-icons"><a href="{% url 'TraineeGroupUpdate' group.pk %}"><i class="fa fa-pencil"></i></a> <a href="{% url 'TraineeGroupDelete' group.pk %}"><i class="fa fa-trash"></i></a></td>

        </tr>
{% endfor %}
</table>
{% else %}
<h2 class="no-trainee">No Groups </h2>
{% endif %}
</div>
<div class="span3">
<strong>Add New</strong>
<form action="new/" method="post">{% csrf_token %}
			<input type="text" name="name" placeholder="Name" />

			<button type="submit" class="btn alignright">Create</button>
	</form>
</div>

{% endblock %}
