{% extends 'training_template.html' %}
{% load report_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span9">
</div>
<div class="span3">
<form action="." method="get">
            <label for='tg'>Group</label>
            <select name='tg'>
            {% for tgi in tgs %}
                <option value={{ tgi.pk }} {% if tg == tgi %}selected{% endif %}>{{ tgi }}</option>
            {% endfor %}
            </select>

            <button type="submit" class="btn">Generate Report</button>

    </form>
<hr />
<p>Select a trainee group to generate a report on their progress.</p>
</div>


<div class="span6">
{% if tg %}
<table class="table table-condensed table-striped">
{% for t in tg.trainees.all %}
    <tr>
        <td><i class="fa fa-user"></i>  <a href="{% url 'xsd_training:TraineeNotes' t.pk %}">{{t.get_full_name}}</a></td>
        <td>{{t.memberprofile.training_for}}</td>
        <td>{% show_lessons t %}
    </tr>
    {% empty %}
        {# TODO Pretty alert #}
        No trainees in group
{% endfor %}
</table>
{% endif %}
</div>

{% include 'components/pl-mouseover.html' %}

{% endblock %}
