{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span9">
	<p>Search by either first or last names.</p>
	<div class="formbox">
		<form action="." method="GET">
			{% csrf_token %}
			<div class="form-horizontal">
			<input id="id_surname" type="text" name="surname" maxlength="50" />
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</form>
	</div>
	{% if trainees %}
	<table class="table table-condensed table-striped">
		<tr><th>Name</th><th>Qualification</th></tr>

		{% for trainee in trainees %}
		<tr>
			<td><a href="{% url 'xsd_training:TraineeNotes' trainee.pk %}">{{trainee.first_name}} <strong>{{trainee.last_name}}</strong></a></td>
			<td>{%if trainee.memberprofile.top_qual != None %}{{trainee.memberprofile.top_qual}}{% endif %}</td>
		</tr>
		{% endfor %}
	</table>

	{% endif %}

</div>

{% endblock %}
