{% extends 'training_template.html' %}
{% load lesson_extras %}
{% load report_extras %}
{% load xsd_nav %}
{% load bootstrap_toolkit %}

{% block training_content %}

<div class="span5">
		<div class="titlebox training">
		{% if trainee.image %}<img src="{{trainee.image.url}}" alt="Profile Picture" class="alignright" />{%endif%}
		<h2>{{trainee}}</h2>
		<div class="btn-group btn-mini">
			{% if is_members %}<a href="{% url 'xsd_members:MemberDetail' trainee.pk %}" class="btn btn-small" type="button"><i class="fa fa-search"></i> View Member Profile</a>{% endif %}
		</div>
		</div>

		<p>{{trainee.first_name}} joined the database on {{trainee.date_joined|date}}.</p>

		{% if trainee.membership_problem %}
		<div class="alert alert-error">
			<i class="fa fa-exclamation-triangle"></i> <strong>Uh-oh</strong> There are currently issues with {{trainee.first_name}}'s membership, until this is rectified {{trainee.heshe|lower}} cannot go diving.
		</div>
		{%endif%}

	</div>
	<div class="span4">
		<h3><i class="fa fa-envelope"></i> Contact Details</h3>
		<table class="table">
			<tr><th>Address</th><td>{% if not trainee.address or trainee.post_code %}<i class="fa fa-exclamation-triangle red"></i>{% else %}{{trainee.formatted_address|safe}}<br />{{trainee.postcode}}{% endif %}</td></tr>
			<tr><th>Email</th><td>{{trainee.email}}{% if not trainee.email %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Home Phone</th><td>{{trainee.home_phone}}{% if not trainee.home_phone %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>
			<tr><th>Mobile Phone</th><td>{{trainee.mobile_phone}}{% if not trainee.mobile_phone %} <i class="fa fa-exclamation-triangle red"></i>{% endif %}</td></tr>

		</table>
	</div>


	<div class="span5">
		<h3><i class="fa fa-table"></i> Lessons</h3>

 <p><big>{{planned}}</big> lessons planned</p>
 <p><big>{{partially_completed}}</big> lessons partially completed</p>
 <p><big>{{completed}}</big> lessons completed</p>
 {% show_lessons trainee %}
{% if is_training %}
  <a href="{% url 'xsd_training:RetroAddLessons' %}?trainee={{trainee.pk}}&qualification={{trainee.training_for.pk}}" class="btn"><i class="fa fa-plus"></i> Retrospectively Add Lessons</a>
{% endif %}
 </div>





	<div class="span4">
		<h3><i class="fa fa-trophy"></i> Qualification Details</h3>
		<table class="table">
			<tr><th>Current Qualification</th><td>{{ trainee.top_qual }}
				<div class="hidden-section">
					<div class="hidden-section-button"><i class="fa fa-plus"></i></div>
					<div class="hidden-section-actual">
						<form action="{% url 'xsd_training:TraineeNotesSet' trainee.pk %}" method="GET">
							{{current_qual_form.as_p}}
							<input type="submit" value="Set Qual" />
						</form>
					</div>
				</div>
			</td></tr>
			<tr><th>Training For</th><td>{{ trainee.training_for }}
				<div class="hidden-section">
					<div class="hidden-section-button"><i class="fa fa-plus"></i></div>
					<div class="hidden-section-actual">
						<form action="{% url 'xsd_training:TraineeNotesSet' trainee.pk %}" method="GET">
							{{training_for_form.as_p}}
							<input type="submit" value="Set TF" />
						</form>
					</div>
				</div>
			</td></tr>
			<tr><th>Instructor</th><td>{% if trainee.top_instructor_qual %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}
				<div class="hidden-section">
					<div class="hidden-section-button"><i class="fa fa-plus"></i></div>
					<div class="hidden-section-actual">
						<form action="{% url 'xsd_training:TraineeNotesSet' trainee.pk %}" method="GET">
							{{instructor_form.as_p}}
							<input type="submit" value="Set" />
						</form>
					</div>
				</div>
				</td></tr>
			{% if trainee.top_instructor_qual or not myself %}
			<tr><th>Instructor Qualification</th><td>{{ trainee.top_instructor_qual }}</td></tr>
			<tr><th>Instructor Number</th><td>{{ trainee.instructor_number }}</td></tr>
			{% endif %}
			<tr><th>SDCs</th><td>
				<ul class="mini-sdc-list-training">
				{% for sdc in trainee.sdcs.all %}<li>{{sdc}}
					<div class="small-action-white"><a href="{% url 'xsd_training:TraineeNotesSet' trainee.pk %}?field=remove_sdc&sdc={{sdc.pk}}"><i class="fa fa-remove"></i></a></div>
				</li>{% endfor %}
				</ul>
				<div class="hidden-section">
					<div class="hidden-section-button"><i class="fa fa-plus"></i></div>
					<div class="hidden-section-actual">
						<form action="{% url 'xsd_training:TraineeNotesSet' trainee.pk %}" method="GET">
							{{sdc_form.as_p}}
							<input type="submit" value="Add SDC" />
						</form>
					</div>
				</div>
			</td></tr>

		</table>
	</div>
{% include 'components/pl-mouseover.html' %}




{% endblock %}
