{% extends 'base_template.html' %}
{% block content %}
    <div class="row">
        <h1><i class="fa fa-exclamation-triangle text-danger"></i> Server Error</h1>

        <p>We're sorry but something has gone wrong. The administrator will be notified of this event, it may be
            helpful to send them a message as well describing what you were trying to do.</p>

        <script src="https://browser.sentry-cdn.com/5.7.1/bundle.min.js"
                integrity="sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ"
                crossorigin="anonymous"></script>

        {% if sentry_event_id %}
            <script>
                Sentry.init({dsn: g.sentry.dsn});
                Sentry.showReportDialog({eventId: '{{ sentry_event_id }}'})
            </script>
        {% endif %}
    </div>
{% endblock %}
