#xsd_frontend-dashboard .xsd-application-container
  // Not really sure why but getting double padding on desktop
  // HACK to remove this.
  @include media-breakpoint-up(md)
    padding-left: 0
    padding-right: 0

.xsd-membership-status
  padding: 0
  list-style: none

  li
    margin-bottom: $spacer-y

    h3
      font-size: $font-size-h4

    h3, p
      padding-left: 3rem

    p
      // keeps notes together
      margin-bottom: 0

    .xsd-membership-status__icon
      @extend .fa, .fa-fw
      float: left
      font-size: 2em

    &.xsd-membership-status__pass
      .xsd-membership-status__icon
        @extend .fa-check
        color: $brand-success

    &.xsd-membership-status__fail
      .xsd-membership-status__icon
        @extend .fa-exclamation-triangle
        color: $brand-warning
      p
        color: $brand-danger


.xsd_dashboard-new
  // Fullscreen content container
  display: flex
  flex-direction: column
  height: 100%

  .jumbotron
    flex: 1
    margin-bottom: 0

    background: $brand-primary
    color: $color-text-white

    display: flex
    flex-direction: column
    height: 100%
    justify-content: center

    .container
      // Push up the screen
      @include media-breakpoint-up(md)
        margin-bottom: 20vh


    .a-okay
      background: url($svg-symbol-okay-white)
      float: right
      width: 54px
      height: 89px
