body
  padding-top: 54px
  overflow-y: scroll

.xsd-application-container
  @extend .container
  padding-top: 1rem

.xsd-module-row
  @include make-row

.xsd-module-nav
  // On mobile the app and module navs are combined
  display: none
  @include media-breakpoint-up(md)
    display: block

.xsd-module-content
  @include make-col
  @include make-col-span(12)

@include media-breakpoint-up(md)
  .xsd-module-nav
    @include make-col
    @include make-col-span(4)
  .xsd-module-content
    @include make-col
    @include make-col-span(8)

@include media-breakpoint-up(lg)
  .xsd-module-nav
    @include make-col
    @include make-col-span(3)
  .xsd-module-content
    @include make-col
    @include make-col-span(9)

.xsd-module-content__inner
  @include make-row
