$brand-background: #171f26
$brand-primary: #014a85

$color-text-white: #fefefe

$color-OD: #6A9ED2
$color-SD: #ECA537
$color-DL: #46832D
$color-AD: #7D3E87
$color-FC: #444

$color-selection: rgba(43, 105, 255, 0.89)

$color-nav-module-header: #aaabae
$color-nav-module-link: #4b4851
$color-sidenav-brand: $brand-primary

$input-border-radius: 1px

// Assets
$svg-symbol-okay-white: '/static/svg/symbol-okay-white.svg'
$svg-symbol-okay-black: '/static/svg/symbol-okay-black.svg'
