// For pages under user menu

.email-address
  width: 50%
  background-color: #fff

.email-verified, .email-primary, .email-unverified
  color: #fff

.email-verified
  background: $brand-success

.email-primary
  background: $brand-primary

.email-unverified
  background: $brand-warning
