{% extends "auth_template.html" %}


{% block auth_content %}
    <div class="col-md-5">
        <p>Because you login with a social account you currently do not have a password, one can be created here.</p>
        <p>This will allow you to also login with your email address <strong>{{ user.email }}</strong>.</p>
    </div>
    <div class="col-md-7">
        <form method="POST" action="{% url 'xsd_auth:account_set_password' %}" class="password_set">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form %}
            <button type="submit" class="btn btn-primary btn-full">
                Set Password
            </button>
        </form>
    </div>
{% endblock %}
