{% extends "auth_template.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}


{% block auth_content %}
    <div class="col-md-12">
        <form method="POST" action="{% url 'xsd_auth:account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary btn-full">
                    Change Password
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
