{% load compress %}
{% load staticfiles %}
{% load socialaccount %}
<!doctype html>
<html>
<head>
	<title>Database</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

    {% compress css %}
	<link href="{% static 'sass/login.sass' %}" type="text/x-sass" rel="stylesheet" media="all" />
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    {% endcompress %}

</head>
<body>
	<!-- <img class="big-background-1"> -->
	<!-- <img class="big-background-2"> -->
	<div class="mobile-background"></div>
	<div class="title"><img src="{% static 'images/logo.png' %} " /></div>
	<div class="banner {% if not errors == 'badauth' %}hidden{% endif %}"><p>Your username and password didn't match. Please try again.</p></div>
	<div class="login">
		<div class="login-facebook">
			<p class='message facebook-switch'>Facebook</p>
			<div class="mob-collapse-facebook {% if errors == 'badauth' %}mob-collapse-hidden{% endif %}">
					<a href="{% comment %} # TODO fix FB Login {% provider_login_url "facebook" %}{% endcomment %}" class="fb-login">
						<img src="{% static 'images/fb_button.png' %}" alt="Login with Facebook" />
					</a>
					<input type="hidden" value="{{ request.path }}" name="next" />
					<input type="hidden" value="{{ request.path }}" name="register_next" />
					<input type="hidden" value="{{ request.path }}" name="error_next" />
					{% csrf_token %}
			</div>
		</div>
		<div class="login-conventional">
			<p class='message conventional-switch'>Local Accounts</p>
			<div class="mob-collapse-conventional {% if not errors == 'badauth' %}mob-collapse-hidden{% endif %}">
				<form action="" method="post">
					{% csrf_token %}
					<p><input id="id_username" name="username" type="text" placeholder="Email" /></p>
					<p><input id="id_password" name="password" type="password" placeholder="Password" /></p>
					<input class="submit" type="submit" value="Login" />

				</form>
				<form action="/accounts/register">
					<input class="register" type="submit" value="Register" />
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.facebook-switch').click(function() {
				// When fb click, show fb hide local
				if (!$('.mob-collapse-facebook').hasClass('mob-collapse-hidden')) {
					// If already open and header is clicked, simulate press of FB login button
					$('.fb-login').click()
				}
				$('.mob-collapse-conventional').addClass('mob-collapse-hidden')
				$('.mob-collapse-facebook').removeClass('mob-collapse-hidden')

			})
			$('.conventional-switch').click(function() {
				// The opposite
				$('.mob-collapse-conventional').removeClass('mob-collapse-hidden')
				$('.mob-collapse-facebook').addClass('mob-collapse-hidden')
				if (is_mobile) {$("html, body").animate({ scrollTop: "300px" });}
			})
			$('.fb-login').click(function(event) {
				// Hide both when fb login pressed
				$('.mob-collapse-conventional').addClass('mob-collapse-hidden')
				$('.mob-collapse-facebook').addClass('mob-collapse-hidden')
			});
		});
	</script>
</body>
</html>
