{% extends "base_template.html" %}
{% load bootstrap_toolkit %}
{% load cache %}
{% load staticfiles %}
{% load to_class_name from filters %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{% static 'images/neptune.jpg' %}" class='push-left' alt='Neptune' />
        <h1 class="top-header">Hi {{request.user.first_name}}</h1>
        <p>This is the {{l10n_club.name}} database, through it we manage all our membership records, training, trips and hold information about dive sites known to the club.</p>
        <p>If you're down for doing training with the club you can see what lessons are coming up, and if you've had some you may receive feedback on your progress.</p>

        <hr />

        {% if is_trusted %}
        {% cache 360 activity-table-dash %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Object</td>
                    <td>Version ID</td>
                    <td>User</td>
                    <td>Changes</td>
                    <td>Comment</td>
                </tr>
                </thead>
                <tbody>
                	{% for version in versions %}

                            <tr>
                                <td>{{ version.revision.date_created }}</td>
                                <td>
                                    <a href="{{ version.new.get_absolute_url }}">
                                        {{version.new|to_class_name}} {{ version.new.pk|stringformat:"05d" }} {{ version.new }}
                                    </a>
                                </td>
                           		<td>{{ version.version.pk }}|{{ version.revision.pk }}</td>
                                <td>
                                    <a href="{{ version.revision.user.memberprofile.get_absolute_url }}">
                                        {{ version.revision.user.get_full_name }}
                                    </a>
                                </td>
                                <td>
                                  {% if version.old == None %}
                                    {{version.new|to_class_name}} Created
                                  {% else %}
                                    {% include 'version_changes.html' %}
                                  {% endif %}                        </td>
                                  <td>{{ version.revision.comment }}</td>
                            </tr>

        			{% endfor %}

                </tbody>
            </table>
            <hr />
        {% endcache %}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if profile.no_expiry_data %}
        <div class="alert alert-info">
            <i class="fa fa-thumbs-up"></i> <strong>Welcome!</strong>
            It looks like you're new. Before you can dive with us you need to be a member of the club, a member of BSAC and have a submitted medical form. You can get help with these things from the committee.
        </div>
        {% else %}
        <ul class="xsd-membership-status">
            <li class="{% if profile.club_expired %}xsd-membership-status__fail{% else %}xsd-membership-status__pass{% endif %}">
                <i class="xsd-membership-status__icon"></i>
                <h3>{{ l10n_club.name }} Membership</h3>
                <p>
                    {% if profile.club_expired %}Expired{% else %}Expires{% endif %} on {{ profile.club_expiry }}
                </p>
                {% if profile.club_expired %}
                    <p class="type-aside">{{ l10n_club.how_to_renew|safe }}</p>
                {% endif %}
            </li>
            <li class="{% if profile.bsac_expired %}xsd-membership-status__fail{% else %}xsd-membership-status__pass{% endif %}">
                <i class="xsd-membership-status__icon"></i>
                <h3>BSAC Membership</h3>
                <p>
                    {% if profile.bsac_expired %}Expired{% else %}Expires{% endif %} on {{ profile.bsac_expiry }}
                </p>

                {% if profile.bsac_expired %}
                <p class="type-aside">
                    {% if profile.bsac_direct_member %}
                    You're a member of BSAC directly, please renew your membership and submit an update request when that's gone through.
                    {% elif profile.bsac_member_via_another_club %}
                    You're a member of BSAC via another club, please renew your membership and submit an update request when that's gone through.
                    {% elif profile.bsac_direct_debit %}
                    You're down as paying by direct debit, this record should be updated when your renewal is confirmed to the club.
                    {% else %}
                    {{ l10n_club.bsac_club_renew|safe }}
                    {% endif %}
                </p>
                {% endif %}
            </li>
            <li class="{% if profile.medical_form_expired %}xsd-membership-status__fail{% else %}xsd-membership-status__pass{% endif %}">
                <i class="xsd-membership-status__icon"></i>
                <h3>Medical Form</h3>
                <p>
                    {% if profile.medical_form_expired %}Expired{% else %}Expires{% endif %} on {{ profile.medical_form_expiry }}
                </p>
                {% if profile.medical_form_expired %}
                    <p class="type-aside">{{ l10n_club.medical_form_renew|safe }}</p>
                {% endif %}
            </li>
        </ul>
        {% endif %}
        {% if not_yet_verified %}
        <div class="alert alert-info"><strong><i class="fa fa-lock"></i> Sorry!</strong> Your account has not yet been verified by the database officers. Until this happens you won't be able to access most areas of the database.</div>
        {% endif %}
    </div>
</div>

{% endblock %}
