{% extends "base_template.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load to_class_name from filters %}

{% block content %}
<div class="row">
    <div class="col-md-8">

        {% if profile.membership_problem and not profile.no_expiry_data %}
        <div class="alert alert-block">
            <i class="fa fa-exclamation-triangle"></i> <strong>Uh-oh</strong><br />Some parts of your membership have expired. You'll need to correct this before you're allowed to dive with the club.
        </div>
        {% endif %}

        <img src="{% static 'images/neptune.jpg' %}" class='push-left' alt='Neptune' />
        <h1 class="top-header">Hi {{request.user.first_name}}</h1>
        <p>This is the {{l10n_club.name}} database, through it we manage all our membership records, training, trips and hold information about dive sites known to the club.</p>
        <p>If you're down for doing training with the club you can see what lessons are coming up, and if you've had some you may receive feedback on your progress.</p>

        <hr />

        {% if is_trusted %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Object</td>
                    <td>Version ID</td>
                    <td>User</td>
                    <td>Changes</td>
                    <td>Comment</td>
                </tr>
                </thead>
                <tbody>
                	{% for version in versions %}

                            <tr>
                                <td>{{ version.revision.date_created }}</td>
                                <td>
                                    <a href="{{ version.new.get_absolute_url }}">
                                        {{version.new|to_class_name}} {{ version.new.pk|stringformat:"05d" }} {{ version.new }}
                                    </a>
                                </td>
                           		<td>{{ version.version.pk }}|{{ version.revision.pk }}</td>
                                <td>
                                    <a href="{{ version.revision.user.memberprofile.get_absolute_url }}">
                                        {{ version.revision.user.get_full_name }}
                                    </a>
                                </td>
                                <td>
                                  {% if version.old == None %}
                                    {{version.new|to_class_name}} Created
                                  {% else %}
                                    {% include 'version_changes.html' %}
                                  {% endif %}                        </td>
                                  <td>{{ version.revision.comment }}</td>
                            </tr>

        			{% endfor %}

                </tbody>
            </table>
            <hr />
        {% endif %}

        <h4>Update Requests</h4>
        <div class="accordion" id="accordion-ur">
         {% for ur in urs %}
         <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-ur" href="#ur{{ur.pk}}">
                    <div class="alignright">
                        {% if not ur.completed and ur.response_body %}
                        <span class="label label-warning">Response Received</span>
                        {% else %}
                        <span class="label {% if ur.completed %}label-success{% else %}label-important{% endif %}">{{ur.completed|yesno:"Fixed,Awaiting Attention"}}</span>
                        {% endif %}
                    </div>
                    {{ur.sent}}</strong>

                </a>
            </div>
            <div id="ur{{ur.pk}}" class="accordion-body collapse out">
                <div class="accordion-inner">
                    <input type="hidden" name="pk" value="{{ur.pk}}" />
                    {%csrf_token %}
                    <h4>You Wrote</h4>
                    {{ur.request_body|linebreaks}}
                    {% if ur.response_body %}<hr />
                    <h4>The Response Was</h4>
                    {{ur.response_body|linebreaks}}
                    {%endif%}

                </div>
            </div>
        </div>
        {% empty %}
        <p>No current requests. To make a request use the account menu at the top right.</p>
        {% endfor %}
    </div>
</div>

<div class="col-md-4">
    <h2 class="top-header">Membership</h2>
    {% if profile.no_expiry_data %}
    <div class="alert alert-info">
        <i class="fa fa-thumbs-up"></i> <strong>Welcome!</strong>
        It looks like you're new. Before you can dive with us you need to be a member of the club, a member of BSAC and have a submitted medical form. You can get help with these things from the committee.
    </div>
    {% else %}
    <ul class="membership-status">
        <li class="{% if profile.club_expired %}fail{% else %}pass{% endif %}"><strong>{{l10n_club.name}} Membership</strong>
            <p><span class="note">{% if profile.club_expired %}Expired{% else %}Expires{% endif %} on {{profile.club_expiry}}</span></p>
            {% if profile.club_expired %}<p><span class="note extra">{{l10n_club.how_to_renew|safe}}</a></span></p>{% endif %}
        </li>



        <li class="{% if profile.bsac_expired %}fail{% else %}pass{% endif %}"><strong>BSAC Membership</strong>
            <p><span class="note">{% if profile.bsac_expired %}Expired{% else %}Expires{% endif %} on {{profile.bsac_expiry}}</span></p>

            {% if profile.bsac_expired %}
            <p><span class="note extra">
                {% if profile.bsac_direct_member %}
                You're a member of BSAC directly, please renew your membership and submit an update request when that's gone through.
                {% elif profile.bsac_member_via_another_club %}
                You're a member of BSAC via another club, please renew your membership and submit an update request when that's gone through.
                {% elif profile.bsac_direct_debit %}
                You're down as paying by direct debit, this record should be updated when your renewal is confirmed to the club.
                {% else %}
                {{l10n_club.bsac_club_renew|safe}}
                {% endif %}
            </span></p>
            {% endif %}
        </li>
        <li class="{% if profile.medical_form_expired %}fail{% else %}pass{% endif %}"><strong>Medical Form</strong>
            <p><span class="note">{% if profile.medical_form_expired %}Expired{% else %}Expires{% endif %} on {{profile.medical_form_expiry}}</span></p>
            {% if profile.medical_form_expired %}<p><span class="note extra">Form available at <a href="http://uksdmc.co.uk/">uksdmc.co.uk</a></span></p>{% endif %}
        </li>
    </ul>
    {% endif %}
    {% if not_yet_verified %}
    <div class="alert alert-info"><strong><i class="fa fa-lock"></i> Sorry!</strong> Your account has not yet been verified by the database officers. Until this happens you won't be able to access most areas of the database.</div>
    {% endif %}
</div>


{% endblock %}

{% block closing_js %}
{% if newbie %}

<div id="new_user_modal" class="modal hide {% if not repost %}fade{% endif %}" tabindex="-1" role="dialog" aria-labelledby="new_user_modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <form action="." method="POST">
      <div class="modal-header">
        <h3 id="new_user_modalLabel">Welcome to the Club Database</h3>
    </div>
    <div class="modal-body">
        <!--{{form.errors}}-->
        {% if form.errors %}
        <div class="alert alert-error">
            <strong>Damn</strong> You appear to have missed some fields. Scroll down to check you've got them all!
        </div>
        {% else %}
        <p>Hi {{ profile.first_name }}, before we continue your club profile needs finishing off.</p>
        {% endif %}


        {% csrf_token %}
        <div class="row-fluid">
            <div class="span5">
                <h5 class='no-top'>Personal Details</h5>
                <p>These details are used as for membership profile during your time at the club.</p>

            </div>
            <div class="span7">
                {{ form.date_of_birth|as_bootstrap }}
                {{ form.address|as_bootstrap }}
                {{ form.postcode|as_bootstrap }}
                {{ form.home_phone|as_bootstrap }}
                {{ form.mobile_phone|as_bootstrap }}

            </div>

        </div>
        <div class="row-fluid">
            <div class="span5">
                <h5 class='no-top'>Alergy &amp; Dietary Information</h5>
                <p>This information is held for use by trip organisers. Please note anything that would be important for both underwater activities and general trips, details are held in confidence.</p>

            </div>
            <div class="span7">
                {{ form.alergies|as_bootstrap }}
                {{ form.veggie|as_bootstrap }}
            </div>


        </div>
        <div class="row-fluid">
            <div class="span5">
                <h5 class='no-top'>Emergency Contacts</h5>
                <p>For an sport such as diving the practical activities involve some level of risk, as such <strong>next of kin</strong> details are kept in case of emergency. This data is only accessed when required. It will be taken in paper form on trips.</p>
            </div>
            <div class="span7">
                {{ form.next_of_kin_name|as_bootstrap }}
                {{ form.next_of_kin_relation|as_bootstrap }}
                {{ form.next_of_kin_phone|as_bootstrap }}
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Continue" />
    </div>
</form>
</div>

<script type="text/javascript">
    $(window).load(function(){
        $('#new_user_modal').modal('show');
    });
</script>
{% endif %}
{% endblock %}
