	<form action="." method="GET">
	<div class="form-horizontal">
		<input type="text" id="token-input" name="names"/>
		<button type="submit" class="btn token-input-submit">Select</button>
		<script type="text/javascript" src="/members/api/tokeninput-data"></script>
		<script type="text/javascript">
    	$(document).ready(function () {
        	$("#token-input").tokenInput(data, {resultsLimit:null,searchDelay:null,animateDropdown:false,theme:'facebook',hintText:'Type in part of a members name...', noResultsText:'No members by that name'});
	    });
    	</script>
	</div>
	</form>
